* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

@font-face {
  font-family: "Spartan Thin";
  src: url(fonts/Spartan-Variable.ttf) format('truetype'),
}

@font-face {
  font-family: "Spartan ExtraLight";
  src: url(fonts/static/Spartan-ExtraLight.ttf);
}

@font-face {
  font-family: "Spartan Regular";
  src: url(fonts/static/Spartan-Regular.ttf);
}

@font-face {
  font-family: "Spartan Medium";
  src: url(fonts/static/Spartan-Medium.ttf);
}

@font-face {
  font-family: "Spartan Light";
  src: url(fonts/static/Spartan-Light.ttf);
}

body {
  overflow: hidden;
}

.back-index img {
  width: 100%;
  height: 100vh;
}

.back-app img {
  width: 100%;
  height: 100vh;
}

.backn {
  width: 100%;
  height: 560vh;
  background-image: url("images/BackgroundProducts.png");
  background-attachment: fixed;
}

.backp {
  width: 100%;
  height: 100vh;
  background-image: url("images/BackgroundApp.png");
  background-attachment: fixed;
}

.backm {
  width: 100%;
  height: 530vh;
  background-image: url("images/BackgroundProducts.png");
  background-attachment: fixed;
}

.backc {
  width: 100%;
  height: 510vh;
  background-image: url("images/BackgroundProducts.png");
  background-attachment: fixed;
}

.backd {
  width: 100%;
  height: 100vh;
  background-image: url("images/BGLogin.png");
  background-attachment: fixed;
}

.backWe {
  width: 100%;
  height: 305vh;
  background-image: url("images/BGLogin.png");
  background-attachment: fixed;
}

.nav {
  position: fixed;
  width: 100%;
  height: 5.3rem;
  top: 0;
  line-height: 5rem;
  display: flex;
  z-index: 20;
}

.cabeceraOscura {
  position: fixed;
  background-color: #1e1d1d;
  width: 100%;
  height: 5.3rem;
  top: 0;
  line-height: 5rem;
  display: flex;
  z-index: 20;
}

.right-ul {
  display: flex;
}

.right-ul li {
  list-style: none;
  margin-left: -1%;
}

.right-ul li:hover {
  border-bottom: 4px solid #0090ff;
}

.hov {
  border-right: 4px solid #0090ff;
  border-bottom: 4px solid #0090ff;
  border-left: 4px solid #0090ff;
}

.right-ul li a {
  font-family: "Spartan ExtraLight";
  font-size: 95%;
  outline: none;
  text-decoration: none;
  margin-left: 1.7rem;
  margin-right: 1.7rem;
  color: #FFFFFF;
}

.empty {
  margin: 0 auto;
}

.home-logo li {
  list-style: none;
}

.home img {
  display: inline-block;
  width: 75%;
  margin-top: 28%;
  margin-left: -50%;
}

.home-all li {
  list-style: none;
}

.homeAll img {
  display: inline-block;
  width: 75%;
  margin-top: 28%;
  margin-left: -50%;
}

.lineIndex {
  position: absolute;
  border-bottom: 1px solid rgba(112, 112, 112, 0.3);
  opacity: 100;
  width: 100%;
  height: 1vh;
  margin-top: 6%;
}

.naver {
  width: 6%;
  height: 100vh;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  display: flex;
  z-index: 30;
}

.naverLogin {
  width: 6%;
  height: 100vh;
  position: absolute;
  background-color: rgba(0, 0, 0);
  top: 0;
  z-index: 30;
}

.naverApp {
  width: 6%;
  height: 100vh;
  position: absolute;
  background-color: rgba(0, 0, 0);
  top: 0;
  display: flex;
  z-index: 30;
}

.naverProducts {
  width: 6%;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0);
  top: 0;
  z-index: 30;
  margin-right: 95%;
}

.naverAll {
  width: 6%;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.9);
  top: 0;
  z-index: 30;
  margin-right: 95%;
}

.naverWe {
  width: 6%;
  height: 100vh;
  position: fixed;
  background-color: #000000;
  top: 0;
  display: flex;
  z-index: 30;
}

.menu {
  position: absolute;
  list-style: none;
  margin-left: 30%;
}

.menu li {
  line-height: 5rem;
}

.menu li img {
  width: 80%;
  cursor: pointer;
}

.items-social {
  position: absolute;
  bottom: 0;
  width: 10%;
  margin-left: 35%;
  margin-bottom: 28%;
}

.items-social a img {
  width: 250%;
  padding-top: 350%;
}

.descub {
  position: absolute;
  z-index: 2;
}

.descub a img {
  width: 60%;
  margin-top: 85%;
  margin-left: 14.8%;
  cursor: pointer;
}

.lineBorder {
  width: 100%;
  height: 10vh;
  margin-top: 570%;
  border-top: 10px solid #0090ff;
  border-bottom: 10px solid #0090ff;
  filter: blur(10px);
  z-index: -1;
}

.log-helmy {
  position: absolute;
}

.log-helmy img {
  width: 55%;
  margin-top: 57%;
  margin-left: 164%;
}

.sp {
  font-family: "Spartan Thin";
  display: block;
  color: #0090ff;
  margin-left: 215%;
  text-decoration: none;
  margin-top: 10%;
}

.en {
  font-family: "Spartan Thin";
  display: block;
  color: #FFFFFF;
  margin-left: 221%;
  text-decoration: none;
  margin-top: -3.4%;
}

.elMejor {
  position: absolute;
  margin-left: 15%;
  margin-top: 13.5%;
}

.elMejor h2 {
  font-family: "Spartan Thin";
  width: 100%;
  font-size: 60px;
  color: #FFFFFF;
}

.lan {
  position: absolute;
}

.cuadricula {
  position: absolute;
}

.cuadricula img {
  width: 65%;
  height: 30%;
  margin-top: 118%;
  margin-left: 35%;
}

.cuadriculaTwo {
  position: absolute;
}

.cuadriculaTwo img {
  width: 65%;
  height: 30%;
  margin-top: 93%;
  margin-left: 25%;
}

.circulo {
  position: absolute;
}

.circulo img {
  width: 58%;
  height: auto;
  margin-top: 25%;
  margin-left: 142%;
}

.circuloLogin {
  position: absolute;
}

.circuloLogin img {
  width: 55%;
  height: auto;
  margin-top: 6%;
  margin-left: -13%;
}

.helmyApp {
  position: absolute;
}

.helmyApp img {
  width: 68%;
  height: auto;
  margin-top: 45%;
  margin-left: 85%;
}

.helmyTxt {
  position: absolute;
}

.helmyTxt img {
  width: 68%;
  height: auto;
  margin-top: 16%;
  margin-left: 21%;
}

.mockupOne {
  position: absolute;
  z-index: 1;
}

.mockupOne img {
  width: 60%;
  height: auto;
  margin-top: 50%;
  margin-left: 355%;
}

.mockupTwo {
  position: absolute;
  z-index: 1;
}

.mockupTwo img {
  width: 52%;
  height: auto;
  margin-top: 107%;
  margin-left: 82%;
}

.botonGoogle {
  position: absolute;
}

.botonGoogle img {
  width: 65%;
  height: auto;
  margin-top: 120%;
  margin-left: 335%;
}

.helmyConfig {
  position: absolute;
}

.helmyConfig img {
  width: 68%;
  height: auto;
  margin-top: 67%;
  margin-left: 60%;
}

.helmyHemos {
  position: absolute;
}

.helmyHemos img {
  width: 68%;
  height: auto;
  margin-top: 71%;
  margin-left: 57%;
}

/* .contePro {
  position: fixed;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  direction: rtl;
  margin-left: 9%;
  margin-top: 13%;
}

.contePro::-webkit-scrollbar {
  height: 1vh !important;
  width: 12px;
} */
/* 
.contePro::-webkit-scrollbar-thumb {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #0090ff;
} */

.hel {
  position: absolute;
}

.hel img {
  width: 98%;
  margin-top: 13%;
  margin-left: 4%;
}

.fityFour {
  position: absolute;
}

.fityFour h3 {
  font-family: "Spartan Regular";
  font-size: 2.8rem;
  color: #FFFFFF;
  width: 100%;
  margin-top: 29.5%;
  margin-left: 23%;
}

.fityFour h4 {
  font-family: "Spartan ExtraLight";
  font-size: 1.7rem;
  color: #FFFFFF;
  width: 100%;
  margin-top: 1%;
  margin-left: 26.5%;
  line-height: 130%;
}

.textProducts {
  position: absolute;
}

.textProducts h3 {
  font-family: "Spartan Thin";
  color: #FFFFFF;
  margin-top: 263%;
  margin-left: 85%;
}

.lineProducts {
  position: absolute;
  border-bottom: 2px solid rgba(255, 255, 255);
  width: 62%;
  margin-top: 43%;
  margin-left: 33%;
}

.funcionPro {
  position: absolute;
  margin-top: 50%;
  margin-left: 14%;
}

.funcionPro img{
  width: 90%;
}

.lineTwoProducts {
  position: absolute;
  border-bottom: 2px solid rgba(255, 255, 255);
  width: 30%;
  margin-top: 88%;
  margin-left: 15%;
}

.textOneProducts {
  position: absolute;
  margin-top: 87.5%;
  margin-left: 50%;
}

.textOneProducts h3 {
  font-family: "Spartan Thin";
  font-size: 22px;
  color: #FFFFFF;
}

.MPro {
  position: absolute;
  margin-top: 96%;
  margin-left: 10.5%;
  z-index: -1;
}

.MPro img {
  width: 55%;
}

.circleMPro {
  position: absolute;
  margin-top: 100%;
  margin-left: 3%;
  z-index: -2;
}

.circleMPro img {
  width: 55%;
}

.helmyMPro {
  position: absolute;
  z-index: -1;
}

.helmyMPro img {
  width: 55%;
  margin-top: 119.4%;
  margin-left: 4%;
}

.textMPro {
  position: absolute;
  margin-top: 104%;
  margin-left: 60%;
}

.textMPro h1 {
  font-family: "Spartan Regular";
  font-size: 45px;
  color: #FFFFFF;
  z-index: -1;
}

.textMPro p {
  font-family: "Spartan Thin";
  font-size: 22px;
  color: #FFFFFF;
  z-index: -1;
}

.textMPro h5 {
  font-family: "Spartan Medium";
  font-size: 22px;
  color: #FFFFFF;
  margin-top: 14%;
  margin-bottom: 15%;
  z-index: -1;
}

.textMPro a {
  font-family: "Spartan Thin";
  outline: none;
  border-radius: 15px;
  text-decoration: none;
  border: 2px solid #0090ff;
	background-color: transparent !important;
  color: #FFFFFF !important;
  padding-top: 5%;
  padding-right: 5vh;
  padding-bottom: 5%;
  padding-left: 5vh;
  z-index: 10;
}

.CPro {
  position: absolute;
  margin-top: 144.5%;
  z-index: -2;
}

.CPro img {
  width: 55%;
  margin-left: 205%;
}

.circleCPro {
  position: absolute;
  margin-top: 150%;
  z-index: -2;
}

.circleCPro img {
  width: 55%;
  margin-left: 70%;
}

.helmyCPro {
  position: absolute;
  z-index: -2;
}

.helmyCPro img {
  width: 53%;
  margin-top: 160%;
  margin-left: 55%;
}

.textCPro {
  position: absolute;
  margin-top: 152%;
  margin-left: 15%;
}

.textCPro h1 {
  font-family: "Spartan Regular";
  font-size: 45px;
  color: #FFFFFF;
}

.textCPro p {
  font-family: "Spartan Thin";
  font-size: 22px;
  color: #FFFFFF;
}

.textCPro h5 {
  font-family: "Spartan Medium";
  font-size: 22px;
  color: #FFFFFF;
  margin-top: 10%;
  margin-bottom: 12%;
}

.textCPro a {
  font-family: "Spartan Thin";
  outline: none;
  border-radius: 15px;
  text-decoration: none;
  border: 2px solid #0090ff;
	background-color: transparent !important;
  color: #FFFFFF !important;
  padding-top: 5%;
  padding-right: 5vh;
  padding-bottom: 5%;
  padding-left: 5vh;
}

.elipsePro {
  position: absolute;
  margin-top: 205%;
  margin-left: 15%;
  z-index: -10;
}

.elipsePro img {
  width: 45%;
}

.cuadriculaPro {
  position: absolute;
  margin-top: 212%;
  margin-left: 12%;
  z-index: -5;
}

.cuadriculaPro img {
  width: 45%;
}

.enmascararPro {
  position: absolute;
  margin-top: 212%;
  z-index: -2;
}

.enmascararPro img {
  width: 50%;
  margin-left: 120%;
}

.trazadoPro {
  position: absolute;
  margin-top: 236%;
  z-index: -5;
}

.trazadoPro img {
  width: 62%;
  margin-left: 158.5%;
}

.boxPro {
  position: absolute;
  width: 61%;
  height: 80%;
  border-radius: 20px;
  -webkit-backdrop-filter: blur(10px); /* Safari 9+ */
  backdrop-filter: blur(2px); /* Chrome and Opera */
  background-color: rgba(255, 255, 255, 0.2);
  opacity: 2;
  margin-top: 217%;
  margin-left: 22%;
  z-index: 1;
}

.enmascararOne {
  position: absolute;
}

.enmascararOne img {
  width: 55%;
  height: auto;
  margin-top: 30%;
  margin-left: 136%;
}

.enmascararTwo {
  position: absolute;
}

.enmascararTwo img {
  width: 57%;
  height: auto;
  margin-top: 40%;
  margin-left: 452%;
}

.app {
  position: absolute;
  margin-top: 13%;
  margin-left: 33%;
}

.textLogin {
  position: absolute;
  margin-top: -25%;
  margin-left: 2%;
}

.textLogin h4 {
  font-family: "Spartan Thin";
  color: #FFFFFF;
}

.form-group {
  margin-top: 10%;
}

.mail {
  position: absolute;
  margin-top: 4.5%;
  margin-left: 5%;
}

.mail img {
  width: 70%;
}

.key {
  position: absolute;
  margin-top: 38.5%;
  margin-left: 5%;
}

.key img {
  width: 58%;
}

.textbox {
  width: 220%;
  font-family: "Spartan Thin";
  color: #FFFFFF;
  background-color: transparent !important;
  margin-bottom: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
  border: 1px solid rgba(255, 255, 255, 0.6);
  text-indent: 12%;
  border-radius: 17px;
  outline: none;
}

.textbox:focus {
  border: 1px solid #0090ff;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
  -webkit-text-fill-color: #FFFFFF;
  transition: background-color 5000s ease-in-out 0s;
}

.passRe {
  width: 100%;
  position: absolute;
  margin-top: 5%;
  margin-left: 130%;
  z-index: 2;
}

.passRe a{
  font-family: "Spartan Thin";
  font-size: 80%;
  text-decoration: none;
  color: #FFFFFF;
}

.lineLogin {
  position: absolute;
  border-bottom: 2px solid rgba(112, 112, 112, 0.5);
  width: 75%;
  margin-top: 1%;
  margin-left: 16.5%;
}

.cp {
  position: absolute;
  margin-top: 27%;
  margin-left: 38%;
  margin-bottom: 0.5%;
}

.g-recaptcha {
  transform:scale(0.75);
}

.submitLogin {
  position: absolute;
  margin-top: 60%;
  margin-left: 48%;
}

.btnDes:disabled {
  font-family: "Spartan Thin";
  outline: none;
  width: 315%;
  border-radius: 10px;
  text-decoration: none;
  border: 1px solid #9F9F9F;
	background-color: transparent !important;
	color: #9F9F9F !important;
  padding-top: 20%;
  padding-bottom: 20%;
  cursor: default;
}


.btn_login{
  font-family: "Spartan Thin";
  outline: none;
  width: 315%;
  border-radius: 10px;
  text-decoration: none;
  border: 1px solid #0090ff;
	background-color: transparent !important;
	color: #FFFFFF !important;
  padding-top: 20%;
  padding-bottom: 20%;
  cursor: pointer;
}

.lineSubmit {
  position: absolute;
  border-bottom: 2px solid rgba(112, 112, 112, 0.5);
  width: 625%;
  margin-top: 30%;
  margin-left: -135%;
}

.textLoginRedes {
  position: absolute;
  width: 100%;
  margin-top: 108%;
  margin-left: 70%;
}

.textLoginRedes h4 {
  font-family: "Spartan Thin";
  color: #FFFFFF;
}

.textGoogle {
  margin-left: -10%;
  margin-top: 10%;
}

.itemsLogin {
  position: absolute;
  width: 10%;
  margin-top: 105%;
  margin-left: 48%;
}

.itemsLogin a img{
  width: 140%;
  margin-bottom: 20%;
}

.wetext { 
  position: absolute;
  margin-top: 11%;
  margin-left: 12%;
  z-index: -10;
}

.wetext h4 {
  font-family: "Spartan Thin";
  color: #FFFFFF;
  font-size: 150%;
}

.lineWe {
  position: absolute;
  border-bottom: 2.5px solid #FFFFFF;
  width: 65%;
  margin-top: 12%;
  margin-left: 28%;
}

.cuadriculaWe {
  position: absolute;
  margin-top: 15%;
  margin-left: -4.5%;
  z-index: -10;
}

.cuadriculaWe img {
  width: 60%;
}

.honorWe {
  position: absolute;
  margin-top: 17%;
  margin-left: 12%;
  z-index: -10;
}

.honorWe img {
  width: 58.7%;
}

.logEdisonWe {
  position: absolute;
  margin-top: 25%;
  margin-left: 60%;
  z-index: -10;
}

.logEdisonWe img {
  width: 80%;
}

.marcoWe {
  position: absolute;
  margin-top: 50%;
  margin-left: 12%;
  z-index: -10;
}

.marcoWe img{
  width: 92%;
}

.videoWe {
  position: absolute;
  margin-top: 42%;
  margin-left: 12%;
  z-index: 1;
}

.videoWe img {
  width: 65%;
}

.wetextOne {
  position: absolute;
  margin-top: 53%;
  margin-left: 52%;
  z-index: -1;
}

.wetextOne h2 {
  font-family: "Spartan Thin";
  color: #FFFFFF;
}

.wetextOne img{
  width: 80%;
  margin-top: 3%;
}

.threeWe {
 position: absolute;
 margin-top: 80%;
 margin-left: 13%;
}

.threeWe img {
  width: 60%;
}

.threekWe {
  position: absolute;
  margin-top: 83%;
  margin-left: 33%;
}

.threekWe img{
  width: 70%;
}

.fourWe {
  position: absolute;
  margin-top: 80%;
  margin-left: 60%;
}

.fourWe img {
  width: 60%;
}

.fourkWe {
  position: absolute;
  margin-top: 85%;
  margin-left: 78%;
}

.fourkWe img {
  width: 75%;
}

.iconWe {
  position: absolute;
  margin-top: 93%;
  margin-left: 19%;
}

.iconWe img {
  width: 60%;
}

.textOneWe {
  position: absolute;
  margin-top: 95.5%;
  margin-left: 30%;
}

.textOneWe img {
  width: 80%;
}

.bgCircleWe {
  position: absolute;
  margin-top: 80%;
  z-index: -1;
}

.bgCircleWe img {
  width: 67%;
  margin-left: 147%;
  filter: blur(1.8px);
}

.helmyWe {
  position: absolute;
  margin-top: 112%;
  margin-left: 3%;
  z-index: -1;
}

.helmyWe img {
  width: 102%;
}

.textTwoWe {
  position: absolute;
}

.textTwoWe img {
  width: 60%;
  margin-top: 187%;
  margin-left: 45%;
}

.btnWe {
  position: absolute;
  margin-top: 138%;
  margin-left: 42%;
}

.btnWe a {
  font-family: "Spartan Thin";
  outline: none;
  border-radius: 15px;
  text-decoration: none;
  border: 2px solid #0090ff;
	background-color: transparent !important;
	color: #FFFFFF !important;
  padding-top: 5%;
  padding-right: 5vh;
  padding-bottom: 5%;
  padding-left: 5vh;
  cursor: pointer;
}

/* .scrollPro {
  position: absolute;
  height: 20%;
  z-index: 10;
  overflow-y: scroll;
  direction: rtl;
  margin-left: 20%;
} */

.boxPro h1 {
  font-family: "Spartan Regular";
  color: #FFFFFF;
  margin-top: 5%;
  margin-left: 21%;
}

.boxPro p {
  font-family: "Spartan Thin";
  color: #FFFFFF;
  margin-left: 21%;
  margin-top: -2%;
  margin-bottom: 2%;
}

.textboxPro {
  width: 51%;
  font-family: "Spartan Thin";
  color: #FFFFFF;
  background-color: transparent !important;
  margin-left: 21%;
  margin-bottom: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
  border: 1.5px solid #FFFFFF;
  text-indent: 12%;
  border-radius: 10px;
  outline: none;
}

.textboxPro::placeholder {
  color: #FFFFFF;
}

.btnPro {
  margin-left: 55%;
}

.btnProEnviar {
  font-family: "Spartan Thin";
  outline: none;
  border-radius: 10px;
  text-decoration: none;
  border: 2px solid #0090ff;
	background-color: transparent !important;
	color: #FFFFFF !important;
  padding-top: 2%;
  padding-right: 5vh;
  padding-bottom: 1.5%;
  padding-left: 5vh;
  cursor: pointer;
}

.textFinalPro {
  margin-top: 8% !important;
  margin-left: 3.5% !important;
  z-index: -1;
}

.textFinalPro p {
  color: #FFFFFF !important;
}

.userPro {
  position: absolute;
  margin-top: 226.6%;
  margin-left: 35.8%;
  z-index: 10;
}

.userPro img {
  width: 60%;
}

.telPro {
  position: absolute;
  margin-top: 230.7%;
  margin-left: 35.8%;
  z-index: 10;
}

.telPro img {
  width: 60%;
}

.mailPro {
  position: absolute;
  margin-top: 235%;
  margin-left: 35.8%;
  z-index: 10;
}

.mailPro img {
  width: 60%;
}

.conHelmyM {
  position: absolute;
  margin-top: 9%;
  margin-left: 1.6%;
}

.conHelmyM img {
  width: 57%;
}

.textHelmyM {
  position: absolute;
  margin-top: 8%;
  margin-left: 55%;
}

.textHelmyM h1{
  font-family: "Spartan Regular";
  font-size: 45px;
  color: #FFFFFF;
}

.textHelmyM p{
  font-family: "Spartan Thin";
  font-size: 20px;
  color: #FFFFFF;
}

.btnHelmyM {
  position: absolute;
  width: 100%;
  margin-top: 42%;
  margin-left: 49%;
}

.btnHelmyM a {
  font-family: "Spartan Thin";
  outline: none;
  border-radius: 10px;
  text-decoration: none;
  border: 2px solid #2E2E2E;
	background-color: #4D4D4D !important;
  color: #FFFFFF !important;
  margin-left: 20%;
  padding-top: 1%;
  padding-right: 5vh;
  padding-bottom: 1%;
  padding-left: 5vh;
  cursor: pointer;
}

.textOneM {
  position: absolute;
  margin-top: 48%;
  margin-left: 8%;
}

.textOneM p{
  font-family: "Spartan Thin";
  color: #FFFFFF;
  margin-bottom: 5%;
}

.textOneM img {
  width: 50%;
  cursor: pointer;
}

.funHelmyM {
  position: absolute;
  margin-top: 63%;
  margin-left: -4%;
}

.funHelmyM img {
  width: 100%;
}

.conjuntoM {
  position: absolute;
  margin-top: 120%;
  margin-left: -14%;
}

.conjuntoM img {
  width: 65%;
  z-index: -10;
}

.textTwoM {
  position: absolute;
  margin-top: 132%;
  margin-left: 48.8%;
}

.textTwoM h1 {
  font-family: "Spartan Thin";
  color: #FFFFFF;
}

.lineM {
  position: absolute;
  border-bottom: 2.5px solid #FFFFFF;
  width: 22%;
  margin-top: 135.1%;
  margin-left: 67%;
}

.textTwoM p {
  font-family: "Spartan Thin";
  font-size: 25px;
  color: #FFFFFF;
}

.btnsHelmyM {
  width: 100%;
  display: flex;
  position: absolute;
  margin-top: 155%;
  margin-left: 49%;
  z-index: 10;
}

.btnsHelmyM a {
  font-family: "Spartan Thin";
  outline: none;
  border-radius: 20px;
  text-decoration: none;
  border: 2px solid #0090ff;
	background-color: #444444;
	color: #FFFFFF !important;
  padding-top: 1%;
  padding-right: 4vh;
  padding-bottom: 1%;
  padding-left: 4vh;
  cursor: pointer;
}

.btnsHelmyM .atwo {
	background-color: transparent !important;
  color: #FFFFFF !important;
  margin-left: 10%;
}

.elipseProM {
  position: absolute;
  margin-top: 190%;
  margin-left: 15%;
  z-index: -10;
}

.elipseProM img {
  width: 45%;
}

.cuadriculaProM {
  position: absolute;
  margin-top: 197%;
  margin-left: 12%;
  z-index: -5;
}

.cuadriculaProM img {
  width: 45%;
}

.enmascararProM {
  position: absolute;
  margin-top: 197%;
  z-index: -2;
}

.enmascararProM img {
  width: 50%;
  margin-left: 120%;
}

.trazadoProM {
  position: absolute;
  margin-top: 221%;
  z-index: -5;
}

.trazadoProM img {
  width: 62%;
  margin-left: 158.5%;
}

.boxProM {
  position: absolute;
  width: 61%;
  height: 80%;
  border-radius: 20px;
  -webkit-backdrop-filter: blur(10px); /* Safari 9+ */
  backdrop-filter: blur(2px); /* Chrome and Opera */
  background-color: rgba(255, 255, 255, 0.2);
  opacity: 2;
  margin-top: 202%;
  margin-left: 22%;
  z-index: 1;
}

.boxProM h1 {
  font-family: "Spartan Regular";
  color: #FFFFFF;
  margin-top: 5%;
  margin-left: 21%;
}

.boxProM p {
  font-family: "Spartan Thin";
  color: #FFFFFF;
  margin-left: 21%;
  margin-top: -2%;
  margin-bottom: 2%;
}

.textboxProM {
  width: 51%;
  font-family: "Spartan Thin";
  color: #FFFFFF;
  background-color: transparent !important;
  margin-left: 21%;
  margin-bottom: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
  border: 1.5px solid #FFFFFF;
  text-indent: 12%;
  border-radius: 10px;
  outline: none;
}

.textboxProM::placeholder {
  color: #FFFFFF;
}

.btnProM {
  margin-left: 55%;
}

.textFinalProM {
  margin-top: 8% !important;
  margin-left: 3.5% !important;
  z-index: -1;
}

.textFinalProM p {
  color: #FFFFFF !important;
}

.userProM {
  position: absolute;
  margin-top: 211.6%;
  margin-left: 35.8%;
  z-index: 10;
}

.userProM img {
  width: 60%;
}

.telProM {
  position: absolute;
  margin-top: 215.7%;
  margin-left: 35.8%;
  z-index: 10;
}

.telProM img {
  width: 60%;
}

.mailProM {
  position: absolute;
  margin-top: 220%;
  margin-left: 35.8%;
  z-index: 10;
}

.mailProM img {
  width: 60%;
}

.conHelmyC {
  position: absolute;
  margin-top: 9%;
  margin-left: 1.6%;
}

.conHelmyC img {
  width: 57%;
}

.textHelmyC {
  position: absolute;
  margin-top: 8%;
  margin-left: 55%;
}

.textHelmyC h1{
  font-family: "Spartan Regular";
  font-size: 45px;
  color: #FFFFFF;
}

.textHelmyC p{
  font-family: "Spartan Thin";
  font-size: 20px;
  color: #FFFFFF;
}

.btnHelmyC {
  position: absolute;
  width: 100%;
  margin-top: 45%;
  margin-left: 49%;
}

.btnHelmyC a {
  font-family: "Spartan Thin";
  outline: none;
  border-radius: 10px;
  text-decoration: none;
  border: 2px solid #2E2E2E;
	background-color: #4D4D4D !important;
  color: #FFFFFF !important;
  margin-left: 20%;
  padding-top: 1%;
  padding-right: 5vh;
  padding-bottom: 1%;
  padding-left: 5vh;
  cursor: pointer;
}

.textOneC {
  position: absolute;
  margin-top: 50%;
  margin-left: 8%;
}

.textOneC p{
  font-family: "Spartan Thin";
  color: #FFFFFF;
  margin-bottom: 5%;
}

.textOneC img {
  width: 50%;
  cursor: pointer;
}

.funHelmyC {
  position: absolute;
  margin-top: 63%;
  margin-left: -4%;
}

.funHelmyC img {
  width: 100%;
}

.conHelmet {
  position: absolute;
  margin-top: 116%;
  margin-left: -6%;
}

.conHelmet img {
  width: 55%;
  z-index: -10;
}

.textTwoC {
  position: absolute;
  margin-top: 123%;
  margin-left: 48.8%;
}

.textTwoC h1 {
  font-family: "Spartan Thin";
  color: #FFFFFF;
}

.lineC {
  position: absolute;
  border-bottom: 2.5px solid #FFFFFF;
  width: 23%;
  margin-top: 126.1%;
  margin-left: 65%;
}

.textTwoC p {
  font-family: "Spartan Thin";
  font-size: 25px;
  color: #FFFFFF;
}

.textHelmyC .ptwo {
  margin-top: 3%;
  margin-bottom: 7%;
}

.textHelmyC a {
  font-family: "Spartan Thin";
  outline: none;
  border-radius: 20px;
  text-decoration: none;
  border: 2px solid #0090ff;
	background-color: transparent !important;
  color: #FFFFFF !important;
  padding-top: 2.5%;
  padding-right: 4vh;
  padding-bottom: 2%;
  padding-left: 4vh;
  cursor: pointer;
}

.btnsHelmyC {
  width: 100%;
  display: flex;
  position: absolute;
  margin-top: 143.5%;
  margin-left: 49%;
  z-index: 10;
}

.btnsHelmyC a {
  font-family: "Spartan Thin";
  outline: none;
  border-radius: 20px;
  text-decoration: none;
  border: 2px solid #0090ff;
	background-color: transparent !important;
	color: #FFFFFF !important;
  padding-top: 1%;
  padding-right: 4vh;
  padding-bottom: 1%;
  padding-left: 4vh;
  cursor: pointer;
}

.elipseProC {
  position: absolute;
  margin-top: 172%;
  margin-left: 15%;
  z-index: -10;
}

.elipseProC img {
  width: 45%;
}

.cuadriculaProC {
  position: absolute;
  margin-top: 179%;
  margin-left: 12%;
  z-index: -5;
}

.cuadriculaProC img {
  width: 45%;
}

.enmascararProC {
  position: absolute;
  margin-top: 179%;
  z-index: -2;
}

.enmascararProC img {
  width: 50%;
  margin-left: 120%;
}

.trazadoProC {
  position: absolute;
  margin-top: 203%;
  z-index: -5;
}

.trazadoProC img {
  width: 62%;
  margin-left: 158.5%;
}

.boxProC {
  position: absolute;
  width: 61%;
  height: 80%;
  border-radius: 20px;
  -webkit-backdrop-filter: blur(10px); /* Safari 9+ */
  backdrop-filter: blur(2px); /* Chrome and Opera */
  background-color: rgba(255, 255, 255, 0.2);
  opacity: 2;
  margin-top: 184%;
  margin-left: 22%;
  z-index: 1;
}

.boxProC h1 {
  font-family: "Spartan Regular";
  color: #FFFFFF;
  margin-top: 5%;
  margin-left: 21%;
}

.boxProC p {
  font-family: "Spartan Thin";
  color: #FFFFFF;
  margin-left: 21%;
  margin-top: -2%;
  margin-bottom: 2%;
}

.textboxProC {
  width: 51%;
  font-family: "Spartan Thin";
  color: #FFFFFF;
  background-color: transparent !important;
  margin-left: 21%;
  margin-bottom: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
  border: 1.5px solid #FFFFFF;
  text-indent: 12%;
  border-radius: 10px;
  outline: none;
}

.textboxProC::placeholder {
  color: #FFFFFF;
}

.btnProC {
  margin-left: 55%;
}

.textFinalProC {
  margin-top: 8% !important;
  margin-left: 3.5% !important;
  z-index: -1;
}

.textFinalProC p {
  color: #FFFFFF !important;
}

.userProC {
  position: absolute;
  margin-top: 193.6%;
  margin-left: 35.8%;
  z-index: 10;
}

.userProC img {
  width: 60%;
}

.telProC {
  position: absolute;
  margin-top: 197.7%;
  margin-left: 35.8%;
  z-index: 10;
}

.telProC img {
  width: 60%;
}

.mailProC {
  position: absolute;
  margin-top: 202%;
  margin-left: 35.8%;
  z-index: 10;
}

.mailProC img {
  width: 60%;
}

.textDealers {
  position: absolute;
  margin-top: 7%;
  margin-left: 15%;
}

.textDealers h3 {
  font-family: "Spartan Light";
  font-size: 25px;
  color: #FFFFFF;
}

.mapDealers {
  position: absolute;
  margin-top: 7%;
  margin-left: 15%;
}

.mapDealers img {
  width: 55%;
}

.circleDealers {
  position: fixed;
  margin-top: 30%;
  margin-left: -4.3%;
}

.circleDealers img {
  width: 50%;
}

.zDealers {
  position: absolute;
  margin-top: 11%;
  margin-left: 15%;
  z-index: 1;
}

.zDealers img {
  width: 50%;
}

.emDealers {
  position: absolute;
  margin-top: 16%;
  margin-left: 15%;
  z-index: 1;
}

.emDealers img {
  width: 50%;
}

.formDealers {
  position: absolute;
  width: 40%;
  height: 75%;
  background-color: rgba(106, 106, 106, 0.2);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(2px);
  margin-top: 10%;
  margin-left: 70%;
  z-index: 1;
}