* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: "Spartan Thin";
  src: url(fonts/Spartan-Variable.ttf) format('truetype'),
}

@font-face {
  font-family: "Spartan ExtraLight";
  src: url(fonts/static/Spartan-ExtraLight.ttf);
}

@font-face {
  font-family: "Spartan Regular";
  src: url(fonts/static/Spartan-Regular.ttf);
}

@font-face {
  font-family: "Spartan Medium";
  src: url(fonts/static/Spartan-Medium.ttf);
}

@font-face {
  font-family: "Spartan Light";
  src: url(fonts/static/Spartan-Light.ttf);
}


.back-index img {
  width: 100%;
  height: 100vh;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.back-app img {
  width: 100%;
  height: 100vh;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.backn {
  width: 100%;
  height: 560vh;
  background-image: url("images/BackgroundProducts.png");
  background-attachment: fixed;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.backp {
  width: 100%;
  height: 100vh;
  background-image: url("images/BackgroundApp.png");
  background-attachment: fixed;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.backm {
  width: 100%;
  height: 530vh;
  background-image: url("images/BackgroundProducts.png");
  background-attachment: fixed;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.backc {
  width: 100%;
  height: 500vh;
  background-image: url("images/BackgroundProducts.png");
  background-attachment: fixed;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.backd {
  width: 100%;
  height: 125vh;
  background-image: url("images/BGLogin.png");
  background-attachment: fixed;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.backWe {
  width: 100%;
  height: 305vh;
  background-image: url("images/BGLogin.png");
  background-attachment: fixed;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.nav {
  position: fixed;
  width: 100%;
  height: 5.3rem;
  top: 0;
  line-height: 5rem;
  display: flex;
  z-index: 20;
}

.cabeceraOscura {
  position: fixed;
  background-color: #1e1d1d;
  width: 100%;
  height: 5.3rem;
  top: 0;
  line-height: 5rem;
  display: flex;
  z-index: 20;
}

.right-ul {
  display: flex;
}

.right-ul li {
  list-style: none;
  margin-left: -1%;
}

.right-ul li:hover {
  border-bottom: 4px solid #0090ff;
}

.hov {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-right: 4px solid #0090ff;
  border-bottom: 4px solid #0090ff;
  border-left: 4px solid #0090ff;
}

.right-ul li a {
  font-family: "Spartan ExtraLight";
  font-size: 95%;
  outline: none;
  text-decoration: none;
  margin-left: 1.7rem;
  margin-right: 1.7rem;
  color: #FFFFFF;
}

.empty {
  margin: 0 auto;
}

.home-logo li {
  list-style: none;
}

.home img {
  display: inline-block;
  width: 75%;
  margin-top: 28%;
  margin-left: -50%;
}

.home-all li {
  list-style: none;
}

.homeAll img {
  display: inline-block;
  width: 75%;
  margin-top: 28%;
  margin-left: -50%;
}

.lineIndex {
  position: absolute;
  border-bottom: 1px solid rgba(112, 112, 112, 0.3);
  opacity: 100;
  width: 100%;
  height: 1vh;
  top: 92%;
}

.naver {
  width: 6%;
  height: 100vh;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  display: flex;
  z-index: 30;
}

.naverLogin {
  width: 6%;
  height: 100vh;
  position: absolute;
  background-color: rgba(0, 0, 0);
  top: 0;
  z-index: 30;
}

.naverApp {
  width: 6%;
  height: 100vh;
  position: absolute;
  background-color: rgba(0, 0, 0);
  top: 0;
  display: flex;
  z-index: 30;
}

.naverProducts {
  width: 6%;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0);
  top: 0;
  z-index: 30;
  margin-right: 95%;
}

.naverAll {
  width: 6%;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0);
  top: 0;
  z-index: 30;
  margin-right: 95%;
}

.naverWe {
  width: 6%;
  height: 100vh;
  position: fixed;
  background-color: #000000;
  top: 0;
  display: flex;
  z-index: 30;
}

.menu {
  position: absolute;
  list-style: none;
  left: 30%;
}

.menu li {
  line-height: 5rem;
}

.menu li img {
  width: 80%;
  cursor: pointer;
}

.items-social {
  position: absolute;
  left: 35%;
  bottom: 3.5%;
}

.items-social a img {
  width: 48%;
  padding-top: 40%;
}

.descub {
  position: absolute;
  top: 72.5%;
  left: 6%;
  z-index: 2;
}

.descub a img {
  width: 62%;
  cursor: pointer;
}

.lineBorder {
  position: absolute;
  width: 100%;
  height: 10vh;
  top: 72%;
  border-top: 10px solid #0090ff;
  border-bottom: 10px solid #0090ff;
  filter: blur(10px);
}

.log-helmy {
  position: absolute;
  top: 49%;
  right: -9.2%;
}

.log-helmy img {
  width: 55%;
  margin-bottom: 10%;
}

.sp {
  font-family: "Spartan Thin";
  display: block;
  color: #0090ff;
  text-decoration: none;
  margin-left: 51%;
}

.en {
  font-family: "Spartan Thin";
  display: block;
  color: #FFFFFF;
  text-decoration: none;
  margin-top: -3.5%;
  margin-left: 57%;
}

.elMejor {
  position: absolute;
  top: 28%;
  left: 15%;
}

.elMejor h2 {
  font-family: "Spartan Thin";
  font-size: 60px;
  color: #FFFFFF;
}

.lan {
  position: absolute;
}

.cuadricula {
  position: absolute;
  top: 75%;
  left: 10.5%;
}

.cuadricula img {
  width: 65%;
  height: 30%;
}

.cuadriculaTwo {
  position: absolute;
}

.cuadriculaTwo img {
  width: 65%;
  height: 30%;
  margin-top: 93%;
  margin-left: 25%;
}

.circulo {
  position: absolute;
  top: 27%;
  right: -25.5%;
}

.circulo img {
  width: 58%;
  height: auto;
}

.circuloLogin {
  position: absolute;
}

.circuloLogin img {
  width: 55%;
  height: auto;
  margin-top: 6%;
  margin-left: -13%;
}

.helmyApp {
  position: absolute;
  top: 20%;
  left: 17.6%;
}

.helmyApp img {
  width: 68%;
  height: auto;
}

.helmyTxt {
  position: absolute;
  top: 29%;
  left: 17.7%;
}

.helmyTxt img {
  width: 68%;
  height: auto;
}

.mockupOne {
  position: absolute;
  top: 23.2%;
  right: -.6%;
  z-index: 1;
}

.mockupOne img {
  width: 60%;
  height: auto;
}

.mockupTwo {
  position: absolute;
  top: 48%;
  left: 17%;
  z-index: 1;
}

.mockupTwo img {
  width: 52%;
  height: auto;
}

.botonGoogle {
  position: absolute;
  top: 48%;
  right: 17%;
}

.botonGoogle img {
  width: 65%;
  height: auto;
}

.helmyConfig {
  position: absolute;
  top: 69.5%;
  left: 30%;
}

.helmyConfig img {
  width: 68%;
  height: auto;
}

.helmyHemos {
  position: absolute;
  top: 78.5%;
  left: 30.5%;
}

.helmyHemos img {
  width: 68%;
  height: auto;
}

/* .contePro {
    position: fixed;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    direction: rtl;
    margin-left: 9%;
    margin-top: 13%;
  }
  
  .contePro::-webkit-scrollbar {
    height: 1vh !important;
    width: 12px;
  } */
/* 
  .contePro::-webkit-scrollbar-thumb {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #0090ff;
  } */

.hel {
  position: absolute;
}

.hel img {
  width: 98%;
  margin-top: 13%;
  margin-left: 4%;
}

.fityFour {
  position: absolute;
  top: 38%;
  left: 16.5%;
}

.fityFour h3 {
  font-family: "Spartan Regular";
  font-size: 2.8rem;
  color: #FFFFFF;
  margin-top: 5%;
}

.fityFour h4 {
  font-family: "Spartan ExtraLight";
  text-align: center;
  font-size: 1.7rem;
  color: #FFFFFF;
  width: 100%;
  margin-top: 1%;
  line-height: 130%;
}

.textProducts {
  position: absolute;
  top: 100%;
  left: 14%;
}

.textProducts h3 {
  font-family: "Spartan Thin";
  font-size: 30px;
  color: #FFFFFF;
}

.lineProducts {
  position: absolute;
  border-bottom: 2px solid rgba(255, 255, 255);
  width: 50%;
  top: 102%;
  left: 43%;
}

.funcionPro {
  position: absolute;
  top: 120%;
  margin-left: 14%;
}

.funcionPro img {
  width: 90%;
}

.lineTwoProducts {
  position: absolute;
  border-bottom: 2px solid rgba(255, 255, 255);
  width: 30%;
  top: 200%;
  left: 15%;
}

.textOneProducts {
  position: absolute;
  top: 199%;
  margin-left: 50%;
}

.textOneProducts h3 {
  font-family: "Spartan Thin";
  font-size: 22px;
  color: #FFFFFF;
}

.CPro {
  position: absolute;
  top: 212.5%;
  left: 7%;
  z-index: -1;
}

.CPro img {
  width: 55%;
}

.circleCPro {
  position: absolute;
  top: 225%;
  left: 3%;
  z-index: -2;
}

.circleCPro img {
  width: 55%;
}

.helmyCPro {
  position: absolute;
  top: 235.5%;
  left: 2%;
  z-index: -1;
}

.helmyCPro img {
  width: 55%;
}

.textCPro {
  position: absolute;
  top: 226%;
  left: 60%;
}

.textCPro h1 {
  font-family: "Spartan Regular";
  font-size: 45px;
  color: #FFFFFF;
  z-index: -1;
}

.textCPro p {
  font-family: "Spartan Thin";
  font-size: 22px;
  color: #FFFFFF;
  z-index: -1;
}

.textCPro h5 {
  font-family: "Spartan Medium";
  font-size: 22px;
  color: #FFFFFF;
  margin-top: 12%;
  margin-bottom: 15%;
  z-index: -1;
}

.textCPro a {
  font-family: "Spartan Thin";
  outline: none;
  border-radius: 15px;
  text-decoration: none;
  border: 2px solid #0090ff;
  background-color: transparent !important;
  color: #FFFFFF !important;
  padding-top: 5%;
  padding-right: 5vh;
  padding-bottom: 5%;
  padding-left: 5vh;
  /* z-index: 10; */
}

.MPro {
  position: absolute;
  top: 332%;
  left: 66.9%;
  z-index: -2;
}

.MPro img {
  width: 55%;
}

.circleMPro {
  position: absolute;
  top: 340%;
  right: -46%;
  z-index: -2;
}

.circleMPro img {
  width: 55%;
}

.helmyMPro {
  position: absolute;
  top: 366.3%;
  right: -51%;
  z-index: -2;
}

.helmyMPro img {
  width: 53%;
}

.textMPro {
  position: absolute;
  top: 340%;
  left: 15%;
}

.textMPro h1 {
  font-family: "Spartan Regular";
  font-size: 45px;
  color: #FFFFFF;
}

.textMPro p {
  font-family: "Spartan Thin";
  font-size: 22px;
  color: #FFFFFF;
}

.textMPro h5 {
  font-family: "Spartan Medium";
  font-size: 22px;
  color: #FFFFFF;
  margin-top: 10%;
  margin-bottom: 12%;
}

.textMPro a {
  font-family: "Spartan Thin";
  outline: none;
  border-radius: 15px;
  text-decoration: none;
  border: 2px solid #0090ff;
  background-color: transparent !important;
  color: #FFFFFF !important;
  padding-top: 5%;
  padding-right: 5vh;
  padding-bottom: 5%;
  padding-left: 5vh;
}

.elipsePro {
  position: absolute;
  top: 445%;
  left: 15%;
  z-index: -10;
}

.elipsePro img {
  width: 45%;
}

.cuadriculaPro {
  position: absolute;
  top: 460%;
  left: 12%;
  z-index: -10;
}

.cuadriculaPro img {
  width: 45%;
}

.enmascararPro {
  position: absolute;
  top: 460%;
  right: -25%;
  z-index: -2;
}

.enmascararPro img {
  width: 50%;
}

.trazadoPro {
  position: absolute;
  top: 510%;
  right: -13.8%;
  z-index: -5;
}

.trazadoPro img {
  width: 62%;
}

.boxPro {
  position: absolute;
  width: 61%;
  height: 80%;
  border-radius: 20px;
  -webkit-backdrop-filter: blur(10px);
  /* Safari 9+ */
  backdrop-filter: blur(2px);
  /* Chrome and Opera */
  background-color: rgba(255, 255, 255, 0.2);
  opacity: 2;
  top: 471%;
  margin-left: 22%;
  z-index: 1;
}

.enmascararOne {
  position: absolute;
}

.enmascararOne img {
  width: 55%;
  height: auto;
  margin-top: 30%;
  margin-left: 136%;
}

.enmascararTwo {
  position: absolute;
}

.enmascararTwo img {
  width: 57%;
  height: auto;
  margin-top: 40%;
  margin-left: 452%;
}

.app {
  position: absolute;
  margin-top: 13%;
  margin-left: 33%;
}

.textLogin {
  position: absolute;
  margin-top: -25%;
  margin-left: 2%;
}

.textLogin h4 {
  font-family: "Spartan Thin";
  color: #FFFFFF;
}

.form-group {
  margin-top: 10%;
}

.mail {
  position: absolute;
  margin-top: 460%;
  margin-left: 5%;
}

.mail img {
  width: 70%;
}

.key {
  position: absolute;
  margin-top: 38.5%;
  margin-left: 5%;
}

.key img {
  width: 58%;
}

.textbox {
  width: 220%;
  font-family: "Spartan Thin";
  color: #FFFFFF;
  background-color: transparent !important;
  margin-bottom: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
  border: 1px solid rgba(255, 255, 255, 0.6);
  text-indent: 12%;
  border-radius: 17px;
  outline: none;
}

.textbox:focus {
  border: 1px solid #0090ff;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: #FFFFFF;
  transition: background-color 5000s ease-in-out 0s;
}

.passRe {
  width: 100%;
  position: absolute;
  margin-top: 5%;
  margin-left: 130%;
  z-index: 2;
}

.passRe a {
  font-family: "Spartan Thin";
  font-size: 80%;
  text-decoration: none;
  color: #FFFFFF;
}

.lineLogin {
  position: absolute;
  border-bottom: 2px solid rgba(112, 112, 112, 0.5);
  width: 75%;
  margin-top: 1%;
  margin-left: 16.5%;
}

.cp {
  position: absolute;
  margin-top: 27%;
  margin-left: 38%;
  margin-bottom: 0.5%;
}

.g-recaptcha {
  transform: scale(0.75);
}

.submitLogin {
  position: absolute;
  margin-top: 60%;
  margin-left: 48%;
}

.btnDes:disabled {
  font-family: "Spartan Thin";
  outline: none;
  width: 315%;
  border-radius: 10px;
  text-decoration: none;
  border: 1px solid #9F9F9F;
  background-color: transparent !important;
  color: #9F9F9F !important;
  padding-top: 20%;
  padding-bottom: 20%;
  cursor: default;
}


.btn_login {
  font-family: "Spartan Thin";
  outline: none;
  width: 315%;
  border-radius: 10px;
  text-decoration: none;
  border: 1px solid #0090ff;
  background-color: transparent !important;
  color: #FFFFFF !important;
  padding-top: 20%;
  padding-bottom: 20%;
  cursor: pointer;
}

.lineSubmit {
  position: absolute;
  border-bottom: 2px solid rgba(112, 112, 112, 0.5);
  width: 625%;
  margin-top: 30%;
  margin-left: -135%;
}

.textLoginRedes {
  position: absolute;
  width: 100%;
  margin-top: 108%;
  margin-left: 70%;
}

.textLoginRedes h4 {
  font-family: "Spartan Thin";
  color: #FFFFFF;
}

.textGoogle {
  margin-left: -10%;
  margin-top: 10%;
}

.itemsLogin {
  position: absolute;
  width: 10%;
  margin-top: 105%;
  margin-left: 48%;
}

.itemsLogin a img {
  width: 140%;
  margin-bottom: 20%;
}

.wetext {
  position: absolute;
  top: 20%;
  margin-left: 12%;
  z-index: -10;
}

.wetext h4 {
  font-family: "Spartan Thin";
  color: #FFFFFF;
  font-size: 35px;
}

.lineWe {
  position: absolute;
  border-bottom: 2.5px solid #FFFFFF;
  width: 65%;
  top: 23.5%;
  margin-left: 28%;
}

.cuadriculaWe {
  position: absolute;
  top: 29%;
  left: -4.5%;
  z-index: -10;
}

.cuadriculaWe img {
  width: 60%;
}

.honorWe {
  position: absolute;
  top: 33%;
  left: 11.5%;
  z-index: -10;
}

.honorWe p {
  font-family: "Spartan ExtraLight";
  color: #FFFFFF;
  line-height: 21px;
}

.logEdisonWe {
  position: absolute;
  top: 56%;
  left: 60%;
  z-index: -10;
}

.logEdisonWe img {
  width: 78%;
}

.marcoWe {
  position: absolute;
  top: 100%;
  left: 12%;
  z-index: -10;
}

.marcoWe img {
  width: 92%;
}

.videoWe {
  position: absolute;
  top: -25%;
  z-index: 1;
}

.videoWe img {
  width: 65%;
}

.wetextOne {
  position: absolute;
  top: 10%;
  margin-left: 45%;
  z-index: -1;
}

.wetextOne h2 {
  font-family: "Spartan Thin";
  color: #FFFFFF;
}

.wetextOne p {
  font-family: "Spartan ExtraLight";
  color: #FFFFFF;
  font-size: 14.5px;
  line-height: 25px;
  margin-top: 3%;
}

.threeWe {
  display: flex;
  position: absolute;
  top: 165%;
  left: 13%;
}

.threeWe img {
  width: 36.5%;
}

.threeWe p {
  font-family: "Spartan Regular";
  color: #ffffff;
  font-size: 18px;
  margin-top: 7%;
}

.fourWe {
  display: flex;
  position: absolute;
  top: 165%;
  left: 60%;
}

.fourWe img {
  width: 50%;
}

.fourWe p {
  font-family: "Spartan Regular";
  color: #ffffff;
  font-size: 18px;
  margin-top: 16%;
}

.iconWe {
  display: flex;
  position: absolute;
  top: 180%;
  margin-left: 19%;
}

.iconWe img {
  width: 12%;
  height: 16vh;
  margin-top: 8%;
}

.iconWe p {
  font-family: "Spartan Regular";
  color: #ffffff;
  font-size: 18px;
  margin-top: 12%;
  margin-left: 2.5%;
}

.bgCircleWe {
  position: absolute;
  top: 170%;
  right: -30%;
  z-index: -1;
}

.bgCircleWe img {
  width: 67%;
}

.helmyWe {
  position: absolute;
  top: 235%;
  margin-left: 3%;
  z-index: -1;
}

.helmyWe img {
  width: 102%;
}

.helmyWe p {
  font-family: "Spartan Medium";
  color: #0090ff;
  font-size: 26px;
  margin-top: -8%;
  margin-left: -1%;
  text-align: center;
}

.btnWe {
  position: absolute;
  top: 290%;
  left: 44%;
}

.btnWe a {
  font-family: "Spartan Thin";
  outline: none;
  border-radius: 15px;
  text-decoration: none;
  border: 2px solid #0090ff;
  background-color: transparent !important;
  color: #FFFFFF !important;
  padding-top: 5%;
  padding-right: 5vh;
  padding-bottom: 5%;
  padding-left: 5vh;
  cursor: pointer;
}

/* .scrollPro {
    position: absolute;
    height: 20%;
    z-index: 10;
    overflow-y: scroll;
    direction: rtl;
    margin-left: 20%;
  } */

.boxPro h1 {
  font-family: "Spartan Regular";
  color: #FFFFFF;
  margin-top: 5%;
  margin-left: 21%;
}

.boxPro p {
  font-family: "Spartan Thin";
  color: #FFFFFF;
  margin-left: 21%;
  margin-top: -2%;
  margin-bottom: 2%;
}

.textboxPro {
  width: 51%;
  font-family: "Spartan Thin";
  color: #FFFFFF;
  background-color: transparent !important;
  margin-left: 21%;
  margin-bottom: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
  border: 1.5px solid #FFFFFF;
  text-indent: 12%;
  border-radius: 10px;
  outline: none;
}

.textboxPro::placeholder {
  color: #FFFFFF;
}

.btnPro {
  margin-left: 55%;
}

.btnProEnviar {
  font-family: "Spartan Thin";
  outline: none;
  border-radius: 10px;
  text-decoration: none;
  border: 2px solid #0090ff;
  background-color: transparent !important;
  color: #FFFFFF !important;
  padding-top: 2%;
  padding-right: 5vh;
  padding-bottom: 1.5%;
  padding-left: 5vh;
  cursor: pointer;
}

.textFinalPro {
  margin-top: 8% !important;
  margin-left: 3.5% !important;
  z-index: -1;
}

.textFinalPro p {
  color: #FFFFFF !important;
}

.userPro {
  position: absolute;
  top: 24.9%;
  left: 22.5%;
  z-index: 10;
}

.userPro img {
  width: 60%;
}

.telPro {
  position: absolute;
  top: 35.5%;
  left: 22.5%;
  z-index: 10;
}

.telPro img {
  width: 60%;
}

.mailPro {
  position: absolute;
  top: 46.5%;
  left: 22.5%;
  z-index: 10;
}

.mailPro img {
  width: 60%;
}

.conHelmyM {
  position: absolute;
  top: 19%;
  left: 1.6%;
}

.conHelmyM img {
  width: 57%;
}

.textHelmyM {
  position: absolute;
  top: 17%;
  left: 55%;
}

.textHelmyM h1 {
  font-family: "Spartan Regular";
  font-size: 45px;
  color: #FFFFFF;
}

.textHelmyM p {
  font-family: "Spartan Thin";
  font-size: 20px;
  color: #FFFFFF;
}

.btnHelmyM {
  position: absolute;
  width: 100%;
  top: 87%;
  left: 69%;
}

.btnHelmyM a {
  font-family: "Spartan Thin";
  outline: none;
  border-radius: 10px;
  text-decoration: none;
  border: 2px solid #2E2E2E;
  background-color: #4D4D4D !important;
  color: #FFFFFF !important;
  padding-top: 1%;
  padding-right: 5vh;
  padding-bottom: 1%;
  padding-left: 5vh;
  cursor: pointer;
}

.textOneM {
  position: absolute;
  top: 102%;
  left: 8%;
}

.textOneM p {
  font-family: "Spartan Thin";
  color: #FFFFFF;
  margin-bottom: 5%;
}

.textOneM img {
  width: 50%;
  cursor: pointer;
}

.funHelmyM {
  position: absolute;
  top: 135%;
  left: -4%;
}

.funHelmyM img {
  width: 100%;
}

.conjuntoM {
  position: absolute;
  top: 255%;
  left: -14%;
}

.conjuntoM img {
  width: 65%;
  z-index: -10;
}

.textTwoM {
  position: absolute;
  top: 274%;
  margin-left: 48.8%;
}

.textTwoM h1 {
  font-family: "Spartan Thin";
  color: #FFFFFF;
}

.lineM {
  position: absolute;
  border-bottom: 2.5px solid #FFFFFF;
  width: 22%;
  top: 280.5%;
  margin-left: 67%;
}

.textTwoM p {
  font-family: "Spartan Thin";
  font-size: 25px;
  color: #FFFFFF;
}

.btnsHelmyM {
  width: 100%;
  display: flex;
  position: absolute;
  margin-top: 155%;
  margin-left: 49%;
  z-index: 10;
}

.btnsHelmyM a {
  font-family: "Spartan Thin";
  outline: none;
  border-radius: 20px;
  text-decoration: none;
  border: 2px solid #0090ff;
  background-color: #444444;
  color: #FFFFFF !important;
  padding-top: 1%;
  padding-right: 4vh;
  padding-bottom: 1%;
  padding-left: 4vh;
  cursor: pointer;
}

.btnsHelmyM .atwo {
  background-color: transparent !important;
  color: #FFFFFF !important;
  margin-left: 10%;
}

.elipseProM {
  position: absolute;
  top: 393%;
  margin-left: 15%;
  z-index: -10;
}

.elipseProM img {
  width: 45%;
}

.cuadriculaProM {
  position: absolute;
  top: 407%;
  margin-left: 12%;
  z-index: -5;
}

.cuadriculaProM img {
  width: 45%;
}

.enmascararProM {
  position: absolute;
  top: 407%;
  right: -25%;
  z-index: -2;
}

.enmascararProM img {
  width: 50%;
}

.trazadoProM {
  position: absolute;
  top: 457%;
  right: -14%;
  z-index: -5;
}

.trazadoProM img {
  width: 62%;
}

.boxProM {
  position: absolute;
  width: 61%;
  height: 80%;
  border-radius: 20px;
  -webkit-backdrop-filter: blur(10px);
  /* Safari 9+ */
  backdrop-filter: blur(2px);
  /* Chrome and Opera */
  background-color: rgba(255, 255, 255, 0.2);
  opacity: 2;
  top: 418.5%;
  left: 22%;
  z-index: 1;
}

.boxProM h1 {
  font-family: "Spartan Regular";
  color: #FFFFFF;
  margin-top: 5%;
  margin-left: 21%;
}

.boxProM p {
  font-family: "Spartan Thin";
  color: #FFFFFF;
  margin-left: 21%;
  margin-top: -2%;
  margin-bottom: 2%;
}

.textboxProM {
  width: 51%;
  font-family: "Spartan Thin";
  color: #FFFFFF;
  background-color: transparent !important;
  margin-left: 21%;
  margin-bottom: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
  border: 1.5px solid #FFFFFF;
  text-indent: 12%;
  border-radius: 10px;
  outline: none;
}

.textboxProM::placeholder {
  color: #FFFFFF;
}

.btnProM {
  margin-left: 55%;
}

.textFinalProM {
  margin-top: 8% !important;
  margin-left: 3.5% !important;
  z-index: -1;
}

.textFinalProM p {
  color: #FFFFFF !important;
}

.userProM {
  position: absolute;
  top: 438.4%;
  left: 35.8%;
  z-index: 10;
}

.userProM img {
  width: 60%;
}

.telProM {
  position: absolute;
  top: 447%;
  left: 35.8%;
  z-index: 10;
}

.telProM img {
  width: 60%;
}

.mailProM {
  position: absolute;
  top: 19%;
  left: 1.6%;
  z-index: 10;
}

.mailProM img {
  width: 60%;
}

.conHelmyC {
  position: absolute;
  margin-top: 9%;
  margin-left: 1.6%;
}

.conHelmyC img {
  width: 57%;
}

.textHelmyC {
  position: absolute;
  top: 16.5%;
  left: 55%;
}

.textHelmyC h1 {
  font-family: "Spartan Regular";
  font-size: 45px;
  color: #FFFFFF;
}

.textHelmyC p {
  font-family: "Spartan Thin";
  font-size: 20px;
  color: #FFFFFF;
}

.btnHelmyC {
  position: absolute;
  width: 100%;
  top: 90%;
  left: 49%;
}

.btnHelmyC a {
  font-family: "Spartan Thin";
  outline: none;
  border-radius: 10px;
  text-decoration: none;
  border: 2px solid #2E2E2E;
  background-color: #4D4D4D !important;
  color: #FFFFFF !important;
  margin-left: 20%;
  padding-top: 1%;
  padding-right: 5vh;
  padding-bottom: 1%;
  padding-left: 5vh;
  cursor: pointer;
}

.textOneC {
  position: absolute;
  top: 102%;
  left: 8%;
}

.textOneC p {
  font-family: "Spartan Thin";
  color: #FFFFFF;
  margin-bottom: 5%;
}

.textOneC img {
  width: 50%;
  cursor: pointer;
}

.funHelmyC {
  position: absolute;
  top: 130%;
  left: -4%;
}

.funHelmyC img {
  width: 100%;
}

.conHelmet {
  position: absolute;
  top: 240%;
  left: -6%;
}

.conHelmet img {
  width: 55%;
  z-index: -10;
}

.textTwoC {
  position: absolute;
  top: 255%;
  left: 48.8%;
}

.textTwoC h1 {
  font-family: "Spartan Thin";
  color: #FFFFFF;
}

.lineC {
  position: absolute;
  border-bottom: 2.5px solid #FFFFFF;
  width: 23%;
  top: 261.5%;
  left: 65%;
}

.textTwoC p {
  font-family: "Spartan Thin";
  font-size: 25px;
  color: #FFFFFF;
}

.textHelmyC .ptwo {
  top: 8%;
  margin-bottom: 7%;
}

.textHelmyC a {
  font-family: "Spartan Thin";
  outline: none;
  border-radius: 20px;
  text-decoration: none;
  border: 2px solid #0090ff;
  background-color: transparent !important;
  color: #FFFFFF !important;
  padding-top: 2.5%;
  padding-right: 4vh;
  padding-bottom: 2%;
  padding-left: 4vh;
  cursor: pointer;
}

.btnsHelmyC {
  width: 100%;
  display: flex;
  position: absolute;
  top: 298%;
  left: 49%;
  z-index: 10;
}

.btnsHelmyC a {
  font-family: "Spartan Thin";
  outline: none;
  border-radius: 20px;
  text-decoration: none;
  border: 2px solid #0090ff;
  background-color: transparent !important;
  color: #FFFFFF !important;
  padding-top: 1%;
  padding-right: 4vh;
  padding-bottom: 1%;
  padding-left: 4vh;
  cursor: pointer;
}

.elipseProC {
  position: absolute;
  top: 350%;
  margin-left: 15%;
  z-index: -10;
}

.elipseProC img {
  width: 45%;
}

.cuadriculaProC {
  position: absolute;
  top: 365%;
  margin-left: 12%;
  z-index: -5;
}

.cuadriculaProC img {
  width: 45%;
}

.enmascararProC {
  position: absolute;
  top: 365%;
  right: -25%;
  z-index: -2;
}

.enmascararProC img {
  width: 50%;
}

.trazadoProC {
  position: absolute;
  top: 415%;
  right: -14%;
  z-index: -5;
}

.trazadoProC img {
  width: 62%;
}

.boxProC {
  position: absolute;
  width: 61%;
  height: 80%;
  border-radius: 20px;
  -webkit-backdrop-filter: blur(10px);
  /* Safari 9+ */
  backdrop-filter: blur(2px);
  /* Chrome and Opera */
  background-color: rgba(255, 255, 255, 0.2);
  opacity: 2;
  top: 376%;
  left: 22%;
  z-index: 1;
}

.boxProC h1 {
  font-family: "Spartan Regular";
  color: #FFFFFF;
  margin-top: 5%;
  margin-left: 21%;
}

.boxProC p {
  font-family: "Spartan Thin";
  color: #FFFFFF;
  margin-left: 21%;
  margin-top: -2%;
  margin-bottom: 2%;
}

.textboxProC {
  width: 51%;
  font-family: "Spartan Thin";
  color: #FFFFFF;
  background-color: transparent !important;
  margin-left: 21%;
  margin-bottom: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
  border: 1.5px solid #FFFFFF;
  text-indent: 12%;
  border-radius: 10px;
  outline: none;
}

.textboxProC::placeholder {
  color: #FFFFFF;
}

.btnProC {
  margin-left: 55%;
}

.textFinalProC {
  margin-top: 8% !important;
  margin-left: 3.5% !important;
  z-index: -1;
}

.textFinalProC p {
  color: #FFFFFF !important;
}

.userProC {
  position: absolute;
  top: 395.8%;
  left: 35.8%;
  z-index: 10;
}

.userProC img {
  width: 60%;
}

.telProC {
  position: absolute;
  top: 404.5%;
  left: 35.8%;
  z-index: 10;
}

.telProC img {
  width: 60%;
}

.mailProC {
  position: absolute;
  top: 413.2%;
  left: 35.8%;
  z-index: 10;
}

.mailProC img {
  width: 60%;
}

.textDealers {
  position: absolute;
  top: 14.5%;
  left: 14.8%;
}

.textDealers h3 {
  font-family: "Spartan Light";
  font-size: 25px;
  color: #FFFFFF;
}

.mapDealers {
  position: absolute;
  top: 14.5%;
  left: 15%;
}

.mapDealers img {
  width: 55%;
}

.circleDealers {
  position: fixed;
  top: 62%;
  left: -4.3%;
}

.circleDealers img {
  width: 50%;
}

.zDealers {
  position: absolute;
  top: 23%;
  left: 15%;
  z-index: 1;
}

.zDealers img {
  width: 50%;
}

.emDealers {
  position: absolute;
  top: 33%;
  left: 15%;
  z-index: 1;
}

.emDealers img {
  width: 50%;
}

.formDealers {
  position: absolute;
  width: 50%;
  height: 95%;
  background-color: rgba(106, 106, 106, 0.1);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(2px);
  top: 25%;
  left: 65%;
  z-index: 1;
}

.deFiv {
  position: absolute;
  top: 21%;
  left: 58.5%;
}

.deFiv img {
  width: 50%;
}

.boxInputsDe {
  margin-top: 8%;
  margin-left: 7.5%;
}

.filtro {
  position: absolute;
  top: 2%;
  left: 62%;
  z-index: 2;
}

.filtro a img {
  width: 65%;
}

.textboxDe {
  width: 55%;
  font-family: "Spartan Thin";
  color: #FFFFFF;
  background-color: transparent !important;
  margin-bottom: 2%;
  padding-top: 2%;
  padding-bottom: 1%;
  border: 1.5px solid #FFFFFF;
  text-indent: 12%;
  border-radius: 6px;
  outline: none;
}

.textboxDe::placeholder {
  color: #FFFFFF;
  padding-top: -2%;
}

.textboxDeS {
  width: 55.5%;
  font-family: "Spartan Thin";
  color: #FFFFFF;
  background-color: transparent !important;
  margin-bottom: 2%;
  padding-top: 2%;
  padding-bottom: 1%;
  border: 1.5px solid #FFFFFF;
  text-indent: 12%;
  border-radius: 6px;
  outline: none;
}

.textboxDeS::placeholder {
  color: #FFFFFF;
  padding-top: -2%;
}

option {
  background: #403f3f;
  color: #ffffff;
  border: none;
}

.btnDealers {
  width: 22%;
  outline: none;
  text-align: center;
  border-radius: 10px;
  text-decoration: none;
  border: 2px solid #0090ff;
  margin-left: 32.5%;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
}

.btnDealer {
  font-family: "Spartan Thin";
  outline: none;
  text-decoration: none;
  background-color: transparent !important;
  color: #FFFFFF !important;
}

.lugBaDe {
  display: flex;
  position: absolute;
  top: 17%;
  left: 20%;
}

.lugBaDe img {
  width: 20%;
}

.lugBaDe h5 {
  font-family: "Spartan ExtraLight";
  font-size: 10px;
  color: #FFFFFF;
  margin-top: 10%;
  margin-left: -3%;
}

.lugMeDe {
  display: flex;
  position: absolute;
  top: 36%;
  left: 17.5%;
}

.lugMeDe img {
  width: 26%;
}

.lugMeDe h5 {
  font-family: "Spartan ExtraLight";
  font-size: 10px;
  color: #FFFFFF;
  margin-top: 14%;
  margin-left: -4%;
}

.lugBoDe {
  display: flex;
  position: absolute;
  top: 44%;
  left: 25%;
}

.lugBoDe img {
  width: 26%;
}

.lugBoDe h5 {
  font-family: "Spartan ExtraLight";
  font-size: 10px;
  color: #FFFFFF;
  margin-top: 12%;
  margin-left: -3%;
}

.LugIbDe {
  display: flex;
  position: absolute;
  top: 49%;
  left: 20%;
}

.LugIbDe img {
  width: 26%;
}

.LugIbDe h5 {
  font-family: "Spartan ExtraLight";
  font-size: 10px;
  color: #FFFFFF;
  margin-top: 12%;
  margin-left: -4%;
}

.LugViDe {
  display: flex;
  position: absolute;
  top: 52.5%;
  left: 26%;
}

.LugViDe img {
  width: 22%;
}

.LugViDe h5 {
  font-family: "Spartan ExtraLight";
  font-size: 10px;
  color: #FFFFFF;
  margin-top: 12%;
  margin-left: -4%;
}

.LugCaDe {
  display: flex;
  position: absolute;
  top: 56%;
  left: 17%;
}

.LugCaDe img {
  width: 37%;
}

.LugCaDe h5 {
  font-family: "Spartan ExtraLight";
  font-size: 10px;
  color: #FFFFFF;
  margin-top: 12%;
  margin-left: -4%;
}

.backLegal {
  width: 100%;
  height: 100vh;
  background-image: url("images/BackgroundIndex.png");
  background-size: 100%;
  background-attachment: fixed;
}

.boxLegal {
  position: absolute;
  width: 80%;
  height: 97%;
  overflow-y: scroll;
  background-color: rgba(99, 99, 99, 0.9);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(2px);
  margin-top: 1%;
  margin-left: 9.5%;
}

.boxLegal::-webkit-scrollbar {
  width: 8px;
  min-height: 10px;
}

.boxLegal::-webkit-scrollbar-thumb {
  background: #0090ff;
  border-radius: 3px;
}

.logTaLegal {
  position: fixed;
  margin-top: 4%;
  margin-left: 6%;
  z-index: -1;
}

.logTaLegal img {
  width: 50%;
}

.logHelmyLegal {
  position: fixed;
  margin-top: 3%;
  margin-left: 80%;
  z-index: -1;
}

.logHelmyLegal img {
  width: 70%;
}

.textosLegal {
  position: absolute;
  margin-top: 17%;
  margin-left: 6%;
}

.textosLegal h2 {
  font-family: "Spartan Thin";
  color: #ffffff;
  width: 90%;
  margin-bottom: 3%;
  text-align: center;
}

.textosLegal h4 {
  font-family: "Spartan Thin";
  color: #ffffff;
  width: 90%;
  margin-bottom: 2%;
  text-align: center;
}

.textosLegal p {
  font-family: "Spartan Thin";
  color: #ffffff;
  width: 90%;
  margin-bottom: 3%;
}

.exito h5 {
  font-family: "Spartan Thin";
  color: #0090ff;
  text-align: center;
  margin-top: 2%;
  margin-left: -10%;
  margin-bottom: -5%;
}

.error h5 {
  font-family: "Spartan Thin";
  color: #ffffff;
  text-align: center;
  margin-top: 2%;
  margin-left: -10%;
  margin-bottom: -5%;
}

@media screen and (max-width: 920px) and (min-width: 320px) {
  body {
    overflow: hidden;
  }

  .back-index {
    width: 100%;
    height: 100vh;
    background-image: url("images/indexMovil.png");
    background-size: cover;
    background-attachment: fixed;
  }

}