* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: "Spartan Thin";
  src: url(fonts/Spartan-Variable.ttf) format('truetype'),
}

@font-face {
  font-family: "Spartan ExtraLight";
  src: url(fonts/static/Spartan-ExtraLight.ttf);
}

@font-face {
  font-family: "Spartan Regular";
  src: url(fonts/static/Spartan-Regular.ttf);
}

@font-face {
  font-family: "Spartan Medium";
  src: url(fonts/static/Spartan-Medium.ttf);
}

@font-face {
  font-family: "Spartan Light";
  src: url(fonts/static/Spartan-Light.ttf);
}


.backInd {
  width: 100%;
  height: 100vh;
  background-image: url(images/BackgroundIndex.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.backn {
  width: 100%;
  height: 560vh;
  background-image: url("images/BackgroundProducts.png");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.backp {
  width: 100%;
  height: 100vh;
  background-image: url("images/BackgroundApp.png");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.backm {
  width: 100%;
  height: 550vh;
  background-image: url("images/BackgroundProducts.png");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.backc {
  width: 100%;
  height: 500vh;
  background-image: url("images/BackgroundProducts.png");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.backd {
  width: 100%;
  height: 125vh;
  background-image: url("images/BGLogin.png");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.backWe {
  width: 100%;
  height: 305vh;
  background-image: url("images/BGLogin.png");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.center {
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
  margin-top: auto;
  margin-bottom: auto;
  display: block;
  border-radius: 5px;
}

.documento {
  width: 100%;
  position: relative;
  display: block;
  height: 100vh;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.nav {
  position: fixed;
  width: 100%;
  height: 5.3rem;
  line-height: 80px;
  display: flex;
  z-index: 20;
}

.cabeceraOscura {
  position: fixed;
  background-color: #1e1d1d;
  width: 100%;
  height: 5.3rem;
  top: 0;
  line-height: 5rem;
  display: flex;
  z-index: 20;
}

.right-ul {
  display: flex;
}

.right-ul li {
  list-style: none;
}

.right-ul li:hover {
  border-bottom: 4px solid #0090ff;
}

.hov {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-right: 4px solid #0090ff;
  border-bottom: 4px solid #0090ff;
  border-left: 4px solid #0090ff;
}

.right-ul li a {
  font-family: "Spartan ExtraLight";
  font-size: 16px;
  outline: none;
  text-decoration: none;
  margin-left: 25px;
  margin-right: 25px;
  color: #FFFFFF;
}

.empty {
  margin: 0 auto;
}

.home-logo li {
  list-style: none;
}

.home img {
  display: inline-block;
  width: 48px;
  margin-top: 18px;
  margin-right: 60px;
}

.home-all li {
  list-style: none;
}

.homeAll img {
  display: inline-block;
  width: 48px;
  margin-top: 18px;
  margin-right: 60px;
}

.lineIndex {
  position: absolute;
  border-bottom: 1px solid rgba(112, 112, 112, 0.3);
  opacity: 100;
  width: 100%;
  height: 1vh;
  top: 78px;
}

.naver {
  width: 80px;
  height: 100vh;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  display: flex;
  z-index: 30;
}

.naverLogin {
  width: 80px;
  height: 100vh;
  position: absolute;
  background-color: rgba(0, 0, 0);
  top: 0;
  z-index: 30;
}

.naverApp {
  width: 80px;
  height: 100vh;
  position: absolute;
  background-color: rgba(0, 0, 0);
  top: 0;
  display: flex;
  z-index: 30;
}

.naverProducts {
  width: 80px;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0);
  top: 0;
  z-index: 30;
  margin-right: 95%;
}

.naverAll {
  width: 80px;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0);
  top: 0;
  z-index: 30;
  margin-right: 95%;
}

.naverWe {
  width: 80px;
  height: 100vh;
  position: fixed;
  background-color: #000000;
  top: 0;
  display: flex;
  z-index: 30;
}

.menu {
  position: absolute;
  list-style: none;
  left: 25px;
  top: 30px;
}

.menu li img {
  width: 23px;
  cursor: pointer;
}

.items-social {
  display: inline-block;
  position: absolute;
  left: 25px;
  bottom: 18px;
}

.items-social a img {
  width: 26px;
  padding-top: 20px;
}

.descub {
  position: absolute;
  left: 80px;
  bottom: 85px;
  z-index: 2;
}

.descub a img {
  width: 322px;
  cursor: pointer;
}

.lineBorder {
  position: absolute;
  width: 80px;
  height: 60px;
  bottom: 90px;
  border-top: 10px solid #0090ff;
  border-bottom: 10px solid #0090ff;
  filter: blur(10px);
}

.log-helmy {
  position: absolute;
  right: 80px;
  bottom: 30px;
}

.log-helmy img {
  width: 290px;
  margin-bottom: 50px;
}

.sp {
  font-family: "Spartan Thin";
  display: block;
  color: #0090ff;
  text-decoration: none;
  margin-left: 270px;
}

.en {
  font-family: "Spartan Thin";
  display: block;
  color: #FFFFFF;
  text-decoration: none;
  margin-top: -17px;
  margin-left: 305px;
}

.elMejor {
  position: absolute;
  top: 170px;
  left: 190px;
}

.elMejor h2 {
  font-family: "Spartan Thin";
  font-size: 60px;
  color: #FFFFFF;
}

.lan {
  position: absolute;
}

.cuadricula {
  position: absolute;
  top: 465px;
  left: 135px;
}

.cuadricula img {
  width: 250px;
  height: 130px;
}

.cuadriculaTwo {
  position: absolute;
}

.cuadriculaTwo img {
  width: 65%;
  height: 30%;
  margin-top: 93%;
  margin-left: 25%;
}

.circulo {
  position: absolute;
  top: 50%;
  right: -40px;
  transform: translateY(-35%);
}

.circulo img {
  width: 385px;
  height: auto;
}

.circuloLogin {
  position: absolute;
}

.circuloLogin img {
  width: 55%;
  height: auto;
  margin-top: 6%;
  margin-left: -13%;
}

.helmyApp {
  position: absolute;
  top: 120px;
  left: 223px;
}

.helmyApp img {
  width: 170px;
  height: auto;
}

.helmyTxt {
  position: absolute;
  top: 175px;
  left: 223px;
}

.helmyTxt img {
  width: 750px;
  height: auto;
}

.mockupOne {
  position: absolute;
  top: 145px;
  right: 120px;
  z-index: 1;
}

.mockupOne img {
  width: 170px;
  height: auto;
}

.mockupTwo {
  position: absolute;
  top: 290px;
  left: 210px;
  z-index: 1;
}

.mockupTwo img {
  width: 140px;
  height: auto;
}

.botonGoogle {
  position: absolute;
  top: 290px;
  right: 300px;
}

.botonGoogle img {
  width: 170px;
  height: auto;
}

.helmyConfig {
  position: absolute;
  top: 430px;
  left: 390px;
}

.helmyConfig img {
  width: 520px;
  height: auto;
}

.helmyHemos {
  position: absolute;
  top: 490px;
  left: 400px;
}

.helmyHemos img {
  width: 480px;
  height: auto;
}



/* .contePro {
    position: fixed;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    direction: rtl;
    margin-left: 9%;
    margin-top: 13%;
  }
  
  .contePro::-webkit-scrollbar {
    height: 1vh !important;
    width: 12px;
  } */
/* 
  .contePro::-webkit-scrollbar-thumb {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #0090ff;
  } */

.hel {
  position: absolute;
}

.hel img {
  width: 98%;
  margin-top: 170px;
  margin-left: 50px;
}

.fityFour {
  position: absolute;
  top: 240px;
  left: 205px;
}

.fityFour h3 {
  font-family: "Spartan Regular";
  font-size: 45px;
  color: #FFFFFF;
  margin-top: 50px;
}

.fityFour h4 {
  font-family: "Spartan ExtraLight";
  text-align: center;
  font-size: 27px;
  color: #FFFFFF;
  margin-top: 10px;
}

.textProducts {
  position: absolute;
  top: 610px;
  left: 170px;
}

.textProducts h3 {
  font-family: "Spartan Thin";
  font-size: 30px;
  color: #FFFFFF;
}

.lineProducts {
  position: absolute;
  border-bottom: 2px solid rgba(255, 255, 255);
  width: 650px;
  top: 622px;
  left: 550px;
}

.funcionPro {
  position: absolute;
  top: 730px;
  margin-left: 170px;
}

.funcionPro img {
  width: 1000px;
}

.lineTwoProducts {
  position: absolute;
  border-bottom: 2px solid rgba(255, 255, 255);
  width: 450px;
  top: 1220px;
  left: 190px;
}

.textOneProducts {
  position: absolute;
  top: 1215px;
  margin-left: 700px;
}

.textOneProducts h3 {
  font-family: "Spartan Thin";
  font-size: 22px;
  color: #FFFFFF;
}

.CPro {
  position: absolute;
  top: 1300px;
  left: 90px;
  z-index: -1;
}

.CPro img {
  width: 215px;
}

.circleCPro {
  position: absolute;
  top: 1370px;
  left: 40px;
  z-index: -2;
}

.circleCPro img {
  width: 600px;
}

.helmyCPro {
  position: absolute;
  top: 1435px;
  left: 30px;
  z-index: -1;
}

.helmyCPro img {
  width: 680px;
}

.textCPro {
  position: absolute;
  top: 1380px;
  left: 780px;
}

.textCPro h1 {
  font-family: "Spartan Regular";
  font-size: 45px;
  color: #FFFFFF;
  z-index: -1;
}

.textCPro p {
  font-family: "Spartan Thin";
  font-size: 22px;
  color: #FFFFFF;
  z-index: -1;
}

.textCPro h5 {
  font-family: "Spartan Medium";
  font-size: 22px;
  color: #FFFFFF;
  margin-top: 12%;
  margin-bottom: 15%;
  z-index: -1;
}

.textCPro a {
  font-family: "Spartan Thin";
  outline: none;
  border-radius: 15px;
  text-decoration: none;
  border: 2px solid #0090ff;
  background-color: transparent !important;
  color: #FFFFFF !important;
  padding-top: 5%;
  padding-right: 5vh;
  padding-bottom: 5%;
  padding-left: 5vh;
  /* z-index: 10; */
}

.MPro {
  position: absolute;
  top: 2200px;
  right: 180px;
  transform: translateY(-50%);
  z-index: -2;
}

.MPro img {
  width: 215px;
}

.circleMPro {
  position: absolute;
  top: 2370px;
  right: -90px;
  transform: translateY(-50%);
  z-index: -2;
}

.circleMPro img {
  width: 600px;
}

.helmyMPro {
  position: absolute;
  top: 2380px;
  right: -90px;
  transform: translateY(-50%);
  z-index: -2;
}

.helmyMPro img {
  width: 600px;
}

.textMPro {
  position: absolute;
  top: 2090px;
  left: 200px;
}

.textMPro h1 {
  font-family: "Spartan Regular";
  font-size: 45px;
  color: #FFFFFF;
}

.textMPro p {
  font-family: "Spartan Thin";
  font-size: 22px;
  color: #FFFFFF;
}

.textMPro h5 {
  font-family: "Spartan Medium";
  font-size: 22px;
  color: #FFFFFF;
  margin-top: 10%;
  margin-bottom: 12%;
}

.textMPro a {
  font-family: "Spartan Thin";
  outline: none;
  border-radius: 15px;
  text-decoration: none;
  border: 2px solid #0090ff;
  background-color: transparent !important;
  color: #FFFFFF !important;
  padding-top: 5%;
  padding-right: 5vh;
  padding-bottom: 5%;
  padding-left: 5vh;
}

.elipsePro {
  position: absolute;
  top: 2720px;
  left: 190px;
  z-index: -10;
}

.elipsePro img {
  width: 220px;
}

.cuadriculaPro {
  position: absolute;
  top: 2800px;
  left: 150px;
  z-index: -10;
}

.cuadriculaPro img {
  width: 155px;
}

.enmascararPro {
  position: absolute;
  top: 2990px;
  right: 40px;
  transform: translateY(-50%);
  z-index: -2;
}

.enmascararPro img {
  width: 350px;
}

.trazadoPro {
  position: absolute;
  top: 3285px;
  right: 40px;
  transform: translateY(-50%);
  z-index: -5;
}

.trazadoPro img {
  width: 350px;
}

.boxPro {
  position: absolute;
  width: 770px;
  height: 485px;
  border-radius: 20px;
  -webkit-backdrop-filter: blur(10px);
  /* Safari 9+ */
  backdrop-filter: blur(2px);
  /* Chrome and Opera */
  background-color: rgba(255, 255, 255, 0.2);
  opacity: 2;
  top: 2865px;
  margin-left: 22%;
  z-index: 1;
}

.enmascararOne {
  position: absolute;
}

.enmascararOne img {
  width: 55%;
  height: auto;
  margin-top: 30%;
  margin-left: 136%;
}

.enmascararTwo {
  position: absolute;
}

.enmascararTwo img {
  width: 57%;
  height: auto;
  margin-top: 40%;
  margin-left: 452%;
}

.app {
  position: absolute;
  margin-top: 13%;
  margin-left: 33%;
}

.textLogin {
  position: absolute;
  margin-top: -25%;
  margin-left: 2%;
}

.textLogin h4 {
  font-family: "Spartan Thin";
  color: #FFFFFF;
}

.form-group {
  margin-top: 10%;
}

.mail {
  position: absolute;
  margin-top: 460%;
  margin-left: 5%;
}

.mail img {
  width: 70%;
}

.key {
  position: absolute;
  margin-top: 38.5%;
  margin-left: 5%;
}

.key img {
  width: 58%;
}

.textbox {
  width: 220%;
  font-family: "Spartan Thin";
  color: #FFFFFF;
  background-color: transparent !important;
  margin-bottom: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
  border: 1px solid rgba(255, 255, 255, 0.6);
  text-indent: 12%;
  border-radius: 17px;
  outline: none;
}

.textbox:focus {
  border: 1px solid #0090ff;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: #FFFFFF;
  transition: background-color 5000s ease-in-out 0s;
}

.passRe {
  width: 100%;
  position: absolute;
  margin-top: 5%;
  margin-left: 130%;
  z-index: 2;
}

.passRe a {
  font-family: "Spartan Thin";
  font-size: 80%;
  text-decoration: none;
  color: #FFFFFF;
}

.lineLogin {
  position: absolute;
  border-bottom: 2px solid rgba(112, 112, 112, 0.5);
  width: 75%;
  margin-top: 1%;
  margin-left: 16.5%;
}

.cp {
  position: absolute;
  margin-top: 27%;
  margin-left: 38%;
  margin-bottom: 0.5%;
}

.g-recaptcha {
  transform: scale(0.75);
}

.submitLogin {
  position: absolute;
  margin-top: 60%;
  margin-left: 48%;
}

.btnDes:disabled {
  font-family: "Spartan Thin";
  outline: none;
  width: 315%;
  border-radius: 10px;
  text-decoration: none;
  border: 1px solid #9F9F9F;
  background-color: transparent !important;
  color: #9F9F9F !important;
  padding-top: 20%;
  padding-bottom: 20%;
  cursor: default;
}


.btn_login {
  font-family: "Spartan Thin";
  outline: none;
  width: 315%;
  border-radius: 10px;
  text-decoration: none;
  border: 1px solid #0090ff;
  background-color: transparent !important;
  color: #FFFFFF !important;
  padding-top: 20%;
  padding-bottom: 20%;
  cursor: pointer;
}

.lineSubmit {
  position: absolute;
  border-bottom: 2px solid rgba(112, 112, 112, 0.5);
  width: 625%;
  margin-top: 30%;
  margin-left: -135%;
}

.textLoginRedes {
  position: absolute;
  width: 100%;
  margin-top: 108%;
  margin-left: 70%;
}

.textLoginRedes h4 {
  font-family: "Spartan Thin";
  color: #FFFFFF;
}

.textGoogle {
  margin-left: -10%;
  margin-top: 10%;
}

.itemsLogin {
  position: absolute;
  width: 10%;
  margin-top: 105%;
  margin-left: 48%;
}

.itemsLogin a img {
  width: 140%;
  margin-bottom: 20%;
}

.wetext {
  position: absolute;
  top: 122px;
  margin-left: 155px;
  z-index: -10;
}

.wetext h4 {
  font-family: "Spartan Thin";
  color: #FFFFFF;
  font-size: 35px;
}

.lineWe {
  position: absolute;
  border-bottom: 2.5px solid #FFFFFF;
  width: 820px;
  top: 142px;
  margin-left: 350px;
}

.cuadriculaWe {
  position: absolute;
  top: 180px;
  left: -15px;
  z-index: -10;
}

.cuadriculaWe img {
  width: 470px;
}

.honorWe {
  position: absolute;
  top: 200px;
  left: 150px;
  z-index: -10;
}

.honorWe p {
  font-family: "Spartan ExtraLight";
  color: #FFFFFF;
  line-height: 21px;
}

.logEdisonWe {
  position: absolute;
  top: 400px;
  right: 100px;
  transform: translateY(-50%);
  z-index: -10;
}

.logEdisonWe img {
  width: 400px;
}

.marcoWe {
  position: absolute;
  top: 610px;
  left: 150px;
  z-index: -10;
}

.marcoWe img {
  width: 1020px;
}

.videoWe {
  position: absolute;
  top: -82px;
  z-index: 1;
}

.videoWe img {
  width: 500px;
}

.wetextOne {
  position: absolute;
  top: 30px;
  margin-left: 500px;
  z-index: -1;
}

.wetextOne h2 {
  font-family: "Spartan Thin";
  color: #FFFFFF;
}

.wetextOne p {
  font-family: "Spartan ExtraLight";
  color: #FFFFFF;
  font-size: 14.5px;
  line-height: 25px;
  margin-top: 15px;
}

.threeWe {
  display: flex;
  position: absolute;
  top: 1010px;
  left: 160px;
}

.threeWe img {
  width: 250px;
}

.threeWe p {
  font-family: "Spartan Regular";
  color: #ffffff;
  font-size: 18px;
  margin-top: 50px;
}

.fourWe {
  display: flex;
  position: absolute;
  top: 1080px;
  right: 70px;
  transform: translateY(-50%);
  /* left: 60%; */
}

.fourWe img {
  width: 250px;
}

.fourWe p {
  font-family: "Spartan Regular";
  color: #ffffff;
  font-size: 18px;
  margin-top: 80px;
}

.iconWe {
  display: flex;
  position: absolute;
  top: 180%;
  margin-left: 19%;
}

.iconWe img {
  width: 100px;
  height: 100px;
  margin-top: 80px;
}

.iconWe p {
  width: 800px;
  font-family: "Spartan Regular";
  color: #ffffff;
  font-size: 18px;
  margin-top: 120px;
  margin-left: 15px;
}

.bgCircleWe {
  position: absolute;
  top: 1270px;
  right: -140px;
  transform: translateY(-50%);
  z-index: -1;
}

.bgCircleWe img {
  width: 430px;
}

.helmyWe {
  position: absolute;
  top: 1430px;
  margin-left: 45px;
  z-index: -1;
}

.helmyWe img {
  width: 1250px;
}

.helmyWe p {
  font-family: "Spartan Medium";
  color: #0090ff;
  font-size: 26px;
  margin-top: -100px;
  margin-left: -30px;
  text-align: center;
}

.btnWe {
  position: absolute;
  top: 1760px;
  left: 565px;
}

.btnWe a {
  font-family: "Spartan Thin";
  outline: none;
  border-radius: 15px;
  text-decoration: none;
  border: 2px solid #0090ff;
  background-color: transparent !important;
  color: #FFFFFF !important;
  padding-top: 5%;
  padding-right: 5vh;
  padding-bottom: 5%;
  padding-left: 5vh;
  cursor: pointer;
}

/* .scrollPro {
    position: absolute;
    height: 20%;
    z-index: 10;
    overflow-y: scroll;
    direction: rtl;
    margin-left: 20%;
  } */

.boxPro h1 {
  font-family: "Spartan Regular";
  color: #FFFFFF;
  margin-top: 5%;
  margin-left: 21%;
}

.boxPro p {
  font-family: "Spartan Thin";
  color: #FFFFFF;
  margin-left: 21%;
  margin-top: -2%;
  margin-bottom: 2%;
}

.textboxPro {
  width: 51%;
  font-family: "Spartan Thin";
  color: #FFFFFF;
  background-color: transparent !important;
  margin-left: 21%;
  margin-bottom: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
  border: 1.5px solid #FFFFFF;
  text-indent: 12%;
  border-radius: 10px;
  outline: none;
}

.textboxPro::placeholder {
  color: #FFFFFF;
}

.btnPro {
  margin-left: 430px;
}

.btnProEnviar {
  font-family: "Spartan Thin";
  outline: none;
  border-radius: 10px;
  text-decoration: none;
  border: 2px solid #0090ff;
  background-color: transparent !important;
  color: #FFFFFF !important;
  padding-top: 2%;
  padding-right: 5vh;
  padding-bottom: 1.5%;
  padding-left: 5vh;
  cursor: pointer;
}

.textFinalPro {
  margin-top: 8% !important;
  margin-left: 3.5% !important;
  z-index: -1;
}

.textFinalPro p {
  color: #FFFFFF !important;
}

.userPro {
  position: absolute;
  top: 121.5px;
  left: 173px;
  z-index: 10;
}

.userPro img {
  width: 20px;
}

.telPro {
  position: absolute;
  top: 173.5px;
  left: 173px;
  z-index: 10;
}

.telPro img {
  width: 20px;
}

.mailPro {
  position: absolute;
  top: 229.2px;
  left: 173px;
  z-index: 10;
}

.mailPro img {
  width: 20px;
}

.conHelmyM {
  position: absolute;
  margin-top: 120px;
  margin-left: 25px;
}

.conHelmyM img {
  width: 700px;
}

.textHelmyM {
  position: absolute;
  top: 300px;
  right: 140px;
  transform: translateY(-50%);
}

.textHelmyM h1 {
  font-family: "Spartan Regular";
  font-size: 45px;
  color: #FFFFFF;
}

.textHelmyM p {
  font-family: "Spartan Thin";
  font-size: 20px;
  color: #FFFFFF;
}

.btnHelmyM {
  position: absolute;
  width: 800px;
  top: 550px;
  right: -410px;
  transform: translateY(-50%);
}

.btnHelmyM a {
  font-family: "Spartan Thin";
  outline: none;
  border-radius: 10px;
  text-decoration: none;
  border: 2px solid #2E2E2E;
  background-color: #4D4D4D !important;
  color: #FFFFFF !important;
  padding-top: 15px;
  padding-right: 50px;
  padding-bottom: 15px;
  padding-left: 30px;
  cursor: pointer;
}

.textOneM {
  position: absolute;
  top: 630px;
  left: 110px;
}

.textOneM p {
  font-family: "Spartan Thin";
  color: #FFFFFF;
  margin-bottom: 5%;
}

.textOneM img {
  width: 170px;
  cursor: pointer;
}

.funHelmyM {
  position: absolute;
  top: 800px;
  left: -30px;
}

.funHelmyM img {
  width: 1300px;
}

.conjuntoM {
  position: absolute;
  top: 1550px;
  left: -160px;
}

.conjuntoM img {
  width: 920px;
  z-index: -10;
}

.textTwoM {
  position: absolute;
  top: 1800px;
  right: 135px;
  transform: translateY(-50%);
}

.textTwoM h1 {
  font-family: "Spartan Thin";
  color: #FFFFFF;
}

.lineM {
  position: absolute;
  border-bottom: 2.5px solid #FFFFFF;
  width: 300px;
  top: 1715px;
  right: 120px;
  transform: translateY(-50%);
}

.textTwoM p {
  font-family: "Spartan Thin";
  font-size: 25px;
  color: #FFFFFF;
}

.textHelmyM .ptwo {
  top: 8%;
  margin-bottom: 7%;
}

.textHelmyM a {
  font-family: "Spartan Thin";
  outline: none;
  border-radius: 20px;
  text-decoration: none;
  border: 2px solid #0090ff;
  background-color: transparent !important;
  color: #FFFFFF !important;
  padding-top: 2.5%;
  padding-right: 4vh;
  padding-bottom: 2%;
  padding-left: 4vh;
  cursor: pointer;
}

.btnsHelmyM {
  display: flex;
  position: absolute;
  top: 2000px;
  right: 130px;
  transform: translateY(-50%);
}

.btnsHelmyM a {
  font-family: "Spartan Thin";
  outline: none;
  border-radius: 20px;
  text-decoration: none;
  border: 2px solid #0090ff;
  color: #FFFFFF !important;
  padding-top: 15px;
  padding-right: 30px;
  padding-bottom: 15px;
  padding-left: 40px;
  margin-left: 100px;
  cursor: pointer;
}

.atwo {
  background-color: #444444 !important;
}

.elipseProM {
  position: absolute;
  top: 2420px;
  left: 190px;
  z-index: -10;
}

.elipseProM img {
  width: 220px;
}

.cuadriculaProM {
  position: absolute;
  top: 2450px;
  left: 150px;
  z-index: -10;
}

.cuadriculaProM img {
  width: 155px;
}

.enmascararProM {
  position: absolute;
  top: 2660px;
  right: 40px;
  transform: translateY(-50%);
  z-index: -2;
}

.enmascararProM img {
  width: 350px;
}

.trazadoProM {
  position: absolute;
  top: 2970px;
  right: 50px;
  transform: translateY(-50%);
  z-index: -5;
}

.trazadoProM img {
  width: 340px;
}

.boxProM {
  position: absolute;
  width: 770px;
  height: 485px;
  border-radius: 20px;
  -webkit-backdrop-filter: blur(10px);
  /* Safari 9+ */
  backdrop-filter: blur(2px);
  /* Chrome and Opera */
  background-color: rgba(255, 255, 255, 0.2);
  opacity: 2;
  top: 2550px;
  margin-left: 22%;
  z-index: 1;
}

.boxProM h1 {
  font-family: "Spartan Regular";
  color: #FFFFFF;
  margin-top: 5%;
  margin-left: 21%;
}

.boxProM p {
  font-family: "Spartan Thin";
  color: #FFFFFF;
  margin-left: 21%;
  margin-top: -2%;
  margin-bottom: 2%;
}

.textboxProM::placeholder {
  color: #FFFFFF;
}

.btnProM {
  margin-left: 430px;
}

.textFinalProM {
  margin-top: 8% !important;
  margin-left: 3.5% !important;
  z-index: -1;
}

.textFinalProM p {
  color: #FFFFFF !important;
}

.conHelmyC {
  position: absolute;
  margin-top: 120px;
  margin-left: 25px;
}

.conHelmyC img {
  width: 700px;
}

.textHelmyC {
  position: absolute;
  top: 300px;
  right: 140px;
  transform: translateY(-50%);
}

.textHelmyC h1 {
  font-family: "Spartan Regular";
  font-size: 45px;
  color: #FFFFFF;
}

.textHelmyC p {
  font-family: "Spartan Thin";
  font-size: 20px;
  color: #FFFFFF;
}

.btnHelmyC {
  position: absolute;
  width: 800px;
  top: 550px;
  right: -410px;
  transform: translateY(-50%);
}

.btnHelmyC a {
  font-family: "Spartan Thin";
  outline: none;
  border-radius: 10px;
  text-decoration: none;
  border: 2px solid #2E2E2E;
  background-color: #4D4D4D !important;
  color: #FFFFFF !important;
  padding-top: 15px;
  padding-right: 50px;
  padding-bottom: 15px;
  padding-left: 30px;
  cursor: pointer;
}

.textOneC {
  position: absolute;
  top: 630px;
  left: 110px;
}

.textOneC p {
  font-family: "Spartan Thin";
  color: #FFFFFF;
  margin-bottom: 5%;
}

.textOneC img {
  width: 170px;
  cursor: pointer;
}

.funHelmyC {
  position: absolute;
  top: 800px;
  left: -30px;
}

.funHelmyC img {
  width: 1300px;
}

.conHelmet {
  position: absolute;
  top: 1460px;
  left: -70px;
}

.conHelmet img {
  width: 750px;
  z-index: -10;
}

.textTwoC {
  position: absolute;
  top: 1665px;
  right: 120px;
  transform: translateY(-50%);
}

.textTwoC h1 {
  font-family: "Spartan Thin";
  color: #FFFFFF;
}

.lineC {
  position: absolute;
  border-bottom: 2.5px solid #FFFFFF;
  width: 300px;
  top: 1595px;
  right: 135px;
  transform: translateY(-50%);
}

.textTwoC p {
  font-family: "Spartan Thin";
  font-size: 25px;
  color: #FFFFFF;
}

.textHelmyC .ptwo {
  top: 8%;
  margin-bottom: 7%;
}

.textHelmyC a {
  font-family: "Spartan Thin";
  outline: none;
  border-radius: 20px;
  text-decoration: none;
  border: 2px solid #0090ff;
  background-color: transparent !important;
  color: #FFFFFF !important;
  padding-top: 2.5%;
  padding-right: 4vh;
  padding-bottom: 2%;
  padding-left: 4vh;
  cursor: pointer;
}

.btnsHelmyC {
  display: flex;
  position: absolute;
  top: 1850px;
  right: 460px;
  transform: translateY(-50%);
}

.btnsHelmyC a {
  font-family: "Spartan Thin";
  outline: none;
  border-radius: 20px;
  text-decoration: none;
  border: 2px solid #0090ff;
  background-color: transparent !important;
  color: #FFFFFF !important;
  padding-top: 15px;
  padding-right: 30px;
  padding-bottom: 15px;
  padding-left: 30px;
  cursor: pointer;
}


.elipseProC {
  position: absolute;
  top: 2120px;
  left: 190px;
  z-index: -10;
}

.elipseProC img {
  width: 220px;
}

.cuadriculaProC {
  position: absolute;
  top: 2185px;
  left: 150px;
  z-index: -10;
}

.cuadriculaProC img {
  width: 155px;
}

.enmascararProC {
  position: absolute;
  top: 2380px;
  right: 40px;
  transform: translateY(-50%);
  z-index: -2;
}

.enmascararProC img {
  width: 350px;
}

.trazadoProC {
  position: absolute;
  top: 2665px;
  right: 50px;
  transform: translateY(-50%);
  z-index: -5;
}

.trazadoProC img {
  width: 320px;
}

.boxProC {
  position: absolute;
  width: 770px;
  height: 485px;
  border-radius: 20px;
  -webkit-backdrop-filter: blur(10px);
  /* Safari 9+ */
  backdrop-filter: blur(2px);
  /* Chrome and Opera */
  background-color: rgba(255, 255, 255, 0.2);
  opacity: 2;
  top: 2250px;
  margin-left: 22%;
  z-index: 1;
}

.boxProC h1 {
  font-family: "Spartan Regular";
  color: #FFFFFF;
  margin-top: 5%;
  margin-left: 21%;
}

.boxProC p {
  font-family: "Spartan Thin";
  color: #FFFFFF;
  margin-left: 21%;
  margin-top: -2%;
  margin-bottom: 2%;
}

.textboxProC::placeholder {
  color: #FFFFFF;
}

.btnProC {
  margin-left: 430px;
}

.textFinalProC {
  margin-top: 8% !important;
  margin-left: 3.5% !important;
  z-index: -1;
}

.textFinalProC p {
  color: #FFFFFF !important;
}

.userProC {
  position: absolute;
  top: 395.8%;
  left: 35.8%;
  z-index: 10;
}

.userProC img {
  width: 60%;
}

.telProC {
  position: absolute;
  top: 404.5%;
  left: 35.8%;
  z-index: 10;
}

.telProC img {
  width: 60%;
}

.mailProC {
  position: absolute;
  top: 413.2%;
  left: 35.8%;
  z-index: 10;
}

.mailProC img {
  width: 60%;
}

.textDealers {
  position: fixed;
  top: 90px;
  left: 190px;
}

.textDealers h3 {
  font-family: "Spartan Light";
  font-size: 25px;
  color: #FFFFFF;
}

.mapDealers {
  position: fixed;
  top: 95px;
  left: 200px;
}

.mapDealers img {
  width: 360px;
}

.circleDealers {
  position: fixed;
  bottom: -120px;
  left: -55px;
}

.circleDealers img {
  width: 350px;
}

.zDealers {
  position: fixed;
  top: 140px;
  left: 192px;
  z-index: 1;
}

.zDealers img {
  width: 25px;
}

.emDealers {
  position: fixed;
  top: 205px;
  left: 192px;
  z-index: 1;
}

.emDealers img {
  width: 25px;
}

.formDealers {
  position: absolute;
  width: 450px;
  height: 600px;
  background-color: rgba(106, 106, 106, 0.1);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(2px);
  top: 450px;
  right: -10px;
  transform: translateY(-50%);
  z-index: 1;
}

.deFiv {
  position: absolute;
  top: 270px;
  right: 400px;
  transform: translateY(-50%);
}

.deFiv img {
  width: 130px;
}

.filtro {
  position: absolute;
  top: 2%;
  left: 85%;
  z-index: 2;
}

.filtro a img {
  width: 30px;
}

.boxInputsDe {
  margin-top: 60px;
  margin-left: 40px;
}

.textboxDe {
  width: 310px;
  font-family: "Spartan Thin";
  color: #FFFFFF;
  background-color: transparent !important;
  margin-bottom: 10px;
  padding-top: 2%;
  padding-bottom: 1%;
  border: 1.5px solid #FFFFFF;
  text-indent: 8%;
  border-radius: 6px;
  outline: none;
}

.textboxDe::placeholder {
  color: #FFFFFF;
  padding-top: -1.5%;
}

.textboxDeS {
  width: 315px;
  font-family: "Spartan Thin";
  color: #FFFFFF;
  background-color: transparent !important;
  margin-bottom: 2%;
  padding-top: 2%;
  padding-bottom: 1%;
  border: 1.5px solid #FFFFFF;
  text-indent: 8%;
  border-radius: 6px;
  outline: none;
}

.textboxDeS::placeholder {
  color: #FFFFFF;
  padding-top: -2%;
}

option {
  background: #403f3f;
  color: #ffffff;
  border: none;
}

.btnDealers {
  width: 120px;
  outline: none;
  text-align: center;
  border-radius: 10px;
  text-decoration: none;
  border: 2px solid #0090ff;
  margin-top: 1%;
  margin-left: 48%;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
}

.btnDealer {
  font-family: "Spartan Thin";
  outline: none;
  text-decoration: none;
  background-color: transparent !important;
  color: #FFFFFF !important;
}

.lugBaDe {
  display: flex;
  position: absolute;
  top: 17%;
  left: 36.5%;
}

.lugBaDe img {
  width: 23px;
}

.lugBaDe h5 {
  font-family: "Spartan ExtraLight";
  font-size: 10px;
  color: #FFFFFF;
  margin-top: 10%;
  margin-left: -3%;
}

.lugMeDe {
  display: flex;
  position: absolute;
  top: 36%;
  left: 32%;
}

.lugMeDe img {
  width: 23px;
}

.lugMeDe h5 {
  font-family: "Spartan ExtraLight";
  font-size: 10px;
  color: #FFFFFF;
  margin-top: 14%;
  margin-left: -4%;
}

.lugBoDe {
  display: flex;
  position: absolute;
  top: 44%;
  left: 47%;
}

.lugBoDe img {
  width: 23px;
}

.lugBoDe h5 {
  font-family: "Spartan ExtraLight";
  font-size: 10px;
  color: #FFFFFF;
  margin-top: 17%;
  margin-left: -3%;
}

.LugIbDe {
  display: flex;
  position: absolute;
  top: 49%;
  left: 38%;
}

.LugIbDe img {
  width: 23px;
}

.LugIbDe h5 {
  font-family: "Spartan ExtraLight";
  font-size: 10px;
  color: #FFFFFF;
  margin-top: 12%;
  margin-left: -4%;
}

.LugViDe {
  display: flex;
  position: absolute;
  top: 52.5%;
  left: 50%;
}

.LugViDe img {
  width: 23px;
}

.LugViDe h5 {
  font-family: "Spartan ExtraLight";
  font-size: 10px;
  color: #FFFFFF;
  margin-top: 12%;
  margin-left: -4%;
}

.LugCaDe {
  display: flex;
  position: absolute;
  top: 56%;
  left: 35%;
}

.LugCaDe img {
  width: 23px;
}

.LugCaDe h5 {
  font-family: "Spartan ExtraLight";
  font-size: 10px;
  color: #FFFFFF;
  margin-top: 12%;
  margin-left: -4%;
}

.backLegal {
  width: 100%;
  height: 100vh;
  background-image: url("images/BackgroundIndex.png");
  background-size: 100%;
  background-attachment: fixed;
}

.boxLegal {
  position: absolute;
  width: 80%;
  height: 97%;
  overflow-y: scroll;
  background-color: rgba(99, 99, 99, 0.9);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(2px);
  margin-top: 1%;
  margin-left: 9.5%;
}

.boxLegal::-webkit-scrollbar {
  width: 8px;
  min-height: 10px;
}

.boxLegal::-webkit-scrollbar-thumb {
  background: #0090ff;
  border-radius: 3px;
}

.logTaLegal {
  position: fixed;
  margin-top: 4%;
  margin-left: 6%;
  z-index: -1;
}

.logTaLegal img {
  width: 50%;
}

.logHelmyLegal {
  position: fixed;
  margin-top: 3%;
  margin-left: 80%;
  z-index: -1;
}

.logHelmyLegal img {
  width: 70%;
}

.textosLegal {
  position: absolute;
  margin-top: 17%;
  margin-left: 6%;
}

.textosLegal h2 {
  font-family: "Spartan Thin";
  color: #ffffff;
  width: 90%;
  margin-bottom: 3%;
  text-align: center;
}

.textosLegal h4 {
  font-family: "Spartan Thin";
  color: #ffffff;
  width: 90%;
  margin-bottom: 2%;
  text-align: center;
}

.textosLegal p {
  font-family: "Spartan Thin";
  color: #ffffff;
  width: 90%;
  margin-bottom: 3%;
}

.exito h5 {
  font-family: "Spartan Thin";
  color: #0090ff;
  text-align: center;
  margin-top: 2%;
  margin-left: -10%;
  margin-bottom: -5%;
}

.error h5 {
  font-family: "Spartan Thin";
  color: #ffffff;
  text-align: center;
  margin-top: 2%;
  margin-left: -10%;
  margin-bottom: -5%;
}

@media screen and (max-width: 920px) and (min-width: 320px) {
  body {
    overflow: hidden;
  }

  .back-index {
    width: 100%;
    height: 100vh;
    background-image: url("images/indexMovil.png");
    background-size: cover;
    background-attachment: fixed;
  }

}

@media (max-width: 1920px) and (max-height: 1080px) {
  .documento {
    width: 100% !important;
    top: 0 !important;
    left: 0 !important;
  }
}

@media(min-width: 2000px) and (min-height: 1080px) {
  .documento {
    top: 50% !important;
    left: 50% !important;
    right: 50% !important;
    max-width: 1920px;
    max-height: 1080px;
    transform: translate(-50%, -50%);
    width: calc(100% - 32px) !important;
  }

  .center {
    width: 100%;
    height: 100vh;
    /* background-color: #535353; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 16px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
  }

  .documento .naverApp {
    max-height: 1080px;
    width: 100px;
  }

  .documento .naver {
    max-height: 1080px;
    width: 100px;
  }

  /* .nav {
    position: fixed;
    top: 120px;
    right: 280px;
    width: 100%;
    height: 5.3rem;
    line-height: 80px;
    display: flex;
    z-index: 20;
  }

  .right-ul li a {
    font-size: 30px;
  } */

  .menu {
    position: absolute;
    list-style: none;
    left: 35px !important;
    top: 40px !important;
  }

  .items-social {
    position: absolute;
    left: 25px;
    bottom: 19px;
  }

  .items-social a img {
    width: 40px !important;
    padding-top: 30px !important;
  }

  .descub {
    position: absolute;
    left: 100px !important; 
    bottom: 110px !important;
    z-index: 2;
  }

  .descub a img {
    width: 500px !important;
    cursor: pointer;
  }

  .lineBorder {
    position: absolute;
    width: 100px !important;
    height: 100px !important;
    bottom: 120px !important;
    border-top: 10px solid #0090ff;
    border-bottom: 10px solid #0090ff;
    filter: blur(10px);
  }

  .log-helmy {
    position: absolute;
    right: 100px !important;
    bottom: 100px !important;
  }

  .log-helmy img {
    width: 500px !important;
    margin-bottom: 50px;
  }

  .sp {
    font-family: "Spartan Thin";
    display: block;
    color: #0090ff;
    text-decoration: none;
    margin-left: 450px !important;
    font-size: 30px;
  }

  .en {
    font-family: "Spartan Thin";
    display: block;
    color: #FFFFFF;
    text-decoration: none;
    margin-top: -32px !important;
    margin-left: 510px !important;
    font-size: 30px !important;
  }

  .elMejor {
    position: absolute;
    top: 290px !important;
    left: 250px !important;
  }

  .elMejor h2 {
    font-family: "Spartan Thin";
    font-size: 110px !important;
    color: #FFFFFF;
  }

}

@media (min-width: 1440px) {

  .backn {
    width: 100%;
    height: 460vh;
  }

  .backWe {
    width: 100%;
    height: 260vh;
  }

  .backc {
    width: 100%;
    height: 400vh;
  }

  .backm {
    width: 100%;
    height: 400vh;
  }

  .menu {
    position: absolute;
    list-style: none;
    left: 25px;
    top: 30px;
  }

  .items-social {
    position: absolute;
    left: 25px;
    bottom: 19px;
  }

  .items-social a img {
    width: 30px;
    padding-top: 22px;
  }

  .descub {
    position: absolute;
    left: 80px;
    bottom: 95px;
    z-index: 2;
  }

  .descub a img {
    width: 385px;
    cursor: pointer;
  }

  .lineBorder {
    position: absolute;
    width: 80px;
    height: 75px;
    bottom: 100px;
    border-top: 10px solid #0090ff;
    border-bottom: 10px solid #0090ff;
    filter: blur(10px);
  }

  .log-helmy {
    position: absolute;
    right: 100px;
    bottom: 50px;
  }

  .log-helmy img {
    width: 370px;
    margin-bottom: 50px;
  }

  .sp {
    font-family: "Spartan Thin";
    display: block;
    color: #0090ff;
    text-decoration: none;
    margin-left: 350px;
  }

  .en {
    font-family: "Spartan Thin";
    display: block;
    color: #FFFFFF;
    text-decoration: none;
    margin-top: -17px;
    margin-left: 390px;
  }

  .elMejor {
    position: absolute;
    top: 170px;
    left: 190px;
  }

  .elMejor h2 {
    font-family: "Spartan Thin";
    font-size: 80px;
    color: #FFFFFF;
  }

  .cuadricula {
    position: absolute;
    top: 635px;
    left: 130px;
  }
  
  .cuadricula img {
    width: 250px;
    height: 130px;
  }

  .helmyApp {
    position: absolute;
    top: 170px;
    left: 180px;
  }
  
  .helmyApp img {
    width: 170px;
    height: auto;
  }
  
  .helmyTxt {
    position: absolute;
    top: 240px;
    left: 180px;
  }
  
  .helmyTxt img {
    width: 850px;
    height: auto;
  }

  .circulo {
    position: absolute;
    top: 57%;
    right: -58px;
    transform: translateY(-50%);
  }

  .circulo img {
    width: 500px;
    height: auto;
  }

  .mockupOne {
    position: absolute;
    top: 48%;
    right: 150px;
    transform: translateY(-50%);
  }

  .mockupOne img {
    width: 215px;
    height: auto;
  }

  .mockupTwo {
    position: absolute;
    top: 390px;
    left: 165px;
    z-index: 1;
  }
  
  .mockupTwo img {
    width: 180px;
    height: auto;
  }

  .botonGoogle {
    position: absolute;
    top: 360px;
    right: 380px;
  }
  
  .botonGoogle img {
    width: 200px;
    height: auto;
  }

  .helmyConfig {
    position: absolute;
    top: 590px;
    left: 390px;
  }
  
  .helmyConfig img {
    width: 580px;
    height: auto;
  }

  .helmyHemos {
    position: absolute;
    top: 660px;
    left: 400px;
  }
  
  .helmyHemos img {
    width: 530px;
    height: auto;
  }

  .hel {
    position: absolute;
  }
  
  .hel img {
    width: 98%;
    margin-top: 240px;
    margin-left: 50px;
  }
  
  .fityFour {
    position: absolute;
    top: 300px;
    left: 225px;
  }

  .fityFour h3 {
    font-family: "Spartan Regular";
    font-size: 50px;
    color: #FFFFFF;
    margin-top: 55px;
  }
  
  .fityFour h4 {
    font-family: "Spartan ExtraLight";
    text-align: center;
    font-size: 30px;
    color: #FFFFFF;
    margin-top: 15px;
  }

  .textProducts {
    position: absolute;
    top: 790px;
    left: 170px;
  }
  
  .textProducts h3 {
    font-family: "Spartan Thin";
    font-size: 30px;
    color: #FFFFFF;
  }
  
  .lineProducts {
    position: absolute;
    border-bottom: 2px solid rgba(255, 255, 255);
    width: 780px;
    top: 805px;
    left: 570px;
  }

  .funcionPro {
    position: absolute;
    top: 920px;
    margin-left: 170px;
  }
  
  .funcionPro img {
    width: 1140px;
  }

  .lineTwoProducts {
    position: absolute;
    border-bottom: 2px solid rgba(255, 255, 255);
    width: 550px;
    top: 1500px;
    left: 190px;
  }

  .textOneProducts {
    position: absolute;
    top: 1495px;
    margin-left: 780px;
  }
  
  .textOneProducts h3 {
    font-family: "Spartan Thin";
    font-size: 25px;
    color: #FFFFFF;
  }

  .CPro {
    position: absolute;
    top: 1585px;
    left: 90px;
    z-index: -1;
  }
  
  .CPro img {
    width: 240px;
  }
  
  .circleCPro {
    position: absolute;
    top: 1660px;
    left: 40px;
    z-index: -2;
  }
  
  .circleCPro img {
    width: 680px;
  }
  
  .helmyCPro {
    position: absolute;
    top: 1740px;
    left: 30px;
    z-index: -1;
  }
  
  .helmyCPro img {
    width: 740px;
  }

  .textCPro {
    position: absolute;
    top: 1700px;
    left: 840px;
  }
  
  .textCPro h1 {
    font-family: "Spartan Regular";
    font-size: 45px;
    color: #FFFFFF;
    z-index: -1;
  }
  
  .textCPro p {
    font-family: "Spartan Thin";
    font-size: 22px;
    color: #FFFFFF;
    z-index: -1;
  }
  
  .textCPro h5 {
    font-family: "Spartan Medium";
    font-size: 22px;
    color: #FFFFFF;
    margin-top: 12%;
    margin-bottom: 15%;
    z-index: -1;
  }
  
  .textCPro a {
    font-family: "Spartan Thin";
    outline: none;
    border-radius: 15px;
    text-decoration: none;
    border: 2px solid #0090ff;
    background-color: transparent !important;
    color: #FFFFFF !important;
    padding-top: 5%;
    padding-right: 5vh;
    padding-bottom: 5%;
    padding-left: 5vh;
    /* z-index: 10; */
  }
  
  .MPro {
    position: absolute;
    top: 2550px;
    right: 205px;
    transform: translateY(-50%);
    z-index: -2;
  }
  
  .MPro img {
    width: 240px;
  }
  
  .circleMPro {
    position: absolute;
    top: 2750px;
    right: -95px;
    transform: translateY(-50%);
    z-index: -2;
  }
  
  .circleMPro img {
    width: 680px;
  }
  
  .helmyMPro {
    position: absolute;
    top: 2755px;
    right: -120px;
    transform: translateY(-50%);
    z-index: -2;
  }
  
  .helmyMPro img {
    width: 700px;
  }
  
  .textMPro {
    position: absolute;
    top: 2450px;
    left: 250px;
  }

  .textMPro h1 {
    font-family: "Spartan Regular";
    font-size: 55px;
    color: #FFFFFF;
  }
  
  .textMPro p {
    font-family: "Spartan Thin";
    font-size: 25px;
    color: #FFFFFF;
  }
  
  .textMPro h5 {
    font-family: "Spartan Medium";
    font-size: 25px;
    color: #FFFFFF;
    margin-top: 10%;
    margin-bottom: 12%;
  }
  
  .textMPro a {
    font-family: "Spartan Thin";
    outline: none;
    border-radius: 15px;
    text-decoration: none;
    border: 2px solid #0090ff;
    background-color: transparent !important;
    color: #FFFFFF !important;
    padding-top: 5%;
    padding-right: 5vh;
    padding-bottom: 5%;
    padding-left: 5vh;
  }
  

  .elipsePro {
    position: absolute;
    top: 3110px;
    left: 220px;
    z-index: -10;
  }
  
  .elipsePro img {
    width: 220px;
  }

  .cuadriculaPro {
    position: absolute;
    top: 3190px;
    left: 185px;
    z-index: -10;
  }
 
  .cuadriculaPro img {
    width: 155px;
  }

  .enmascararPro {
    position: absolute;
    top: 3370px;
    right: 160px;
    transform: translateY(-50%);
    z-index: -2;
  }
  
  .enmascararPro img {
    width: 350px;
  }

  .trazadoPro {
    position: absolute;
    top: 3660px;
    right: 155px;
    transform: translateY(-50%);
    z-index: -5;
  }
  
  .trazadoPro img {
    width: 350px;
  }

  .boxPro {
    position: absolute;
    width: 770px;
    height: 485px;
    border-radius: 20px;
    -webkit-backdrop-filter: blur(10px);
    /* Safari 9+ */
    backdrop-filter: blur(2px);
    /* Chrome and Opera */
    background-color: rgba(255, 255, 255, 0.2);
    opacity: 2;
    top: 3250px;
    margin-left: 22%;
    z-index: 1;
  }
  
  .mailPro {
    position: absolute;
    top: 228px;
    left: 173px;
    z-index: 10;
  }
  
  .mailPro img {
    width: 20px;
  }

  .conHelmyC {
    position: absolute;
    margin-top: 150px;
    margin-left: 25px;
  }
  
  .conHelmyC img {
    width: 800px;
  }

  .textHelmyC {
    position: absolute;
    top: 400px;
    right: 120px;
    transform: translateY(-50%);
  }
  
  .textHelmyC h1 {
    font-family: "Spartan Regular";
    font-size: 55px;
    color: #FFFFFF;
  }
  
  .textHelmyC p {
    font-family: "Spartan Thin";
    font-size: 25px;
    color: #FFFFFF;
  }
  
  .btnHelmyC {
    position: absolute;
    width: 800px;
    top: 720px;
    right: -350px;
    transform: translateY(-50%);
  }
  
  .btnHelmyC a {
    font-family: "Spartan Thin";
    outline: none;
    border-radius: 10px;
    text-decoration: none;
    border: 2px solid #2E2E2E;
    background-color: #4D4D4D !important;
    color: #FFFFFF !important;
    padding-top: 20px;
    padding-right: 70px;
    padding-bottom: 20px;
    padding-left: 50px;
    cursor: pointer;
  }
  
  .btnPro {
    margin-left: 410px;
  }

  .btnProC {
    margin-left: 412px;
  }

  .textOneC {
    position: absolute;
    top: 800px;
    left: 110px;
  }
  
  .textOneC p {
    font-family: "Spartan Thin";
    color: #FFFFFF;
    margin-bottom: 5%;
  }
  
  .textHelmyC a {
    font-family: "Spartan Thin";
    outline: none;
    border-radius: 20px;
    text-decoration: none;
    border: 2px solid #0090ff;
    background-color: transparent !important;
    color: #FFFFFF !important;
    padding-top: 2.5%;
    padding-right: 6vh;
    padding-bottom: 2%;
    padding-left: 6vh;
    cursor: pointer;
  }

  .funHelmyC {
    position: absolute;
    top: 1000px;
    left: -30px;
  }
  
  .funHelmyC img {
    width: 1500px;
  }

  .conHelmet {
    position: absolute;
    top: 1750px;
    left: -70px;
  }
  
  .conHelmet img {
    width: 900px;
    z-index: -10;
  }

  .textTwoC {
    position: absolute;
    top: 2000px;
    right: 120px;
    transform: translateY(-50%);
  }
  
  .textTwoC h1 {
    font-family: "Spartan Thin";
    color: #FFFFFF;
  }
  
  .lineC {
    position: absolute;
    border-bottom: 2.5px solid #FFFFFF;
    width: 300px;
    top: 1930px;
    right: 135px;
    transform: translateY(-50%);
  }
  
  .textTwoC p {
    font-family: "Spartan Thin";
    font-size: 25px;
    color: #FFFFFF;
  }

  .btnsHelmyC {
    display: flex;
    position: absolute;
    top: 2160px;
    right: 465px;
    transform: translateY(-50%);
  }

  .elipseProC {
    position: absolute;
    top: 2520px;
    left: 190px;
    z-index: -10;
  }
  
  .elipseProC img {
    width: 250px;
  }
  
  .cuadriculaProC {
    position: absolute;
    top: 2600px;
    left: 160px;
    z-index: -10;
  }
  
  .cuadriculaProC img {
    width: 180px;
  }
  
  .enmascararProC {
    position: absolute;
    top: 2780px;
    right: 140px;
    transform: translateY(-50%);
    z-index: -2;
  }
  
  .enmascararProC img {
    width: 380px;
  }
  
  .trazadoProC {
    position: absolute;
    top: 3080px;
    right: 170px;
    transform: translateY(-50%);
    z-index: -5;
  }
  
  .trazadoProC img {
    width: 340px;
  }
  
  .boxProC {
    position: absolute;
    width: 770px;
    height: 485px;
    border-radius: 20px;
    -webkit-backdrop-filter: blur(10px);
    /* Safari 9+ */
    backdrop-filter: blur(2px);
    /* Chrome and Opera */
    background-color: rgba(255, 255, 255, 0.2);
    opacity: 2;
    top: 2670px;
    margin-left: 22%;
    z-index: 1;
  }

  .conHelmyM {
    position: absolute;
    margin-top: 150px;
    margin-left: 25px;
  }
  
  .conHelmyM img {
    width: 800px;
  }

  .textHelmyM {
    position: absolute;
    top: 400px;
    right: 120px;
    transform: translateY(-50%);
  }
  
  .textHelmyM h1 {
    font-family: "Spartan Regular";
    font-size: 55px;
    color: #FFFFFF;
  }
  
  .textHelmyM p {
    font-family: "Spartan Thin";
    font-size: 25px;
    color: #FFFFFF;
  }
  
  .btnHelmyM {
    position: absolute;
    width: 800px;
    top: 720px;
    right: -350px;
    transform: translateY(-50%);
  }
  
  .btnHelmyM a {
    font-family: "Spartan Thin";
    outline: none;
    border-radius: 10px;
    text-decoration: none;
    border: 2px solid #2E2E2E;
    background-color: #4D4D4D !important;
    color: #FFFFFF !important;
    padding-top: 20px;
    padding-right: 70px;
    padding-bottom: 20px;
    padding-left: 50px;
    cursor: pointer;
  }
  
  .btnProM {
    margin-left: 412px;
  }

  .textOneM {
    position: absolute;
    top: 800px;
    left: 110px;
  }
  
  .textOneM p {
    font-family: "Spartan Thin";
    color: #FFFFFF;
    margin-bottom: 5%;
  }
  
  .textHelmyM a {
    font-family: "Spartan Thin";
    outline: none;
    border-radius: 20px;
    text-decoration: none;
    border: 2px solid #0090ff;
    background-color: transparent !important;
    color: #FFFFFF !important;
    padding-top: 2.5%;
    padding-right: 6vh;
    padding-bottom: 2%;
    padding-left: 6vh;
    cursor: pointer;
  }

  .funHelmyM {
    position: absolute;
    top: 1000px;
    left: -30px;
  }
  
  .funHelmyM img {
    width: 1500px;
  }

  .conjuntoM {
    position: absolute;
    top: 1850px;
    left: -70px;
  }
  
  .conjuntoM img {
    width: 900px;
    z-index: -10;
  }

  .textTwoM {
    position: absolute;
    top: 2100px;
    right: 155px;
    transform: translateY(-50%);
  }
  
  .textTwoM h1 {
    font-family: "Spartan Thin";
    color: #FFFFFF;
  }
  
  .lineM {
    position: absolute;
    border-bottom: 2.5px solid #FFFFFF;
    width: 300px;
    top: 2005px;
    right: 190px;
    transform: translateY(-50%);
  }
  
  .textTwoM p {
    font-family: "Spartan Thin";
    font-size: 28px;
    color: #FFFFFF;
  }

  .btnsHelmyM {
    display: flex;
    position: absolute;
    top: 2300px;
    right: 210px;
    transform: translateY(-50%);
  }

  .elipseProM {
    position: absolute;
    top: 2650px;
    left: 190px;
    z-index: -10;
  }
  
  .elipseProM img {
    width: 250px;
  }
  
  .cuadriculaProM {
    position: absolute;
    top: 2730px;
    left: 160px;
    z-index: -10;
  }
  
  .cuadriculaProM img {
    width: 180px;
  }
  
  .enmascararProM {
    position: absolute;
    top: 2900px;
    right: 145px;
    transform: translateY(-50%);
    z-index: -2;
  }
  
  .enmascararProM img {
    width: 380px;
  }
  
  .trazadoProM {
    position: absolute;
    top: 3200px;
    right: 170px;
    transform: translateY(-50%);
    z-index: -5;
  }
  
  .trazadoProM img {
    width: 340px;
  }
  
  .boxProM {
    position: absolute;
    width: 770px;
    height: 485px;
    border-radius: 20px;
    -webkit-backdrop-filter: blur(10px);
    /* Safari 9+ */
    backdrop-filter: blur(2px);
    /* Chrome and Opera */
    background-color: rgba(255, 255, 255, 0.2);
    opacity: 2;
    top: 2800px;
    margin-left: 22%;
    z-index: 1;
  }

  .textDealers {
    position: fixed;
    top: 95px;
    left: 190px;
  }
  
  .textDealers h3 {
    font-family: "Spartan Light";
    font-size: 30px;
    color: #FFFFFF;
  }
  
  .mapDealers {
    position: fixed;
    top: 100px;
    left: 230px;
  }
  
  .mapDealers img {
    width: 500px;
  }

  .circleDealers {
    position: fixed;
    bottom: -150px;
    left: -70px;
  }

  .circleDealers img {
    width: 430px;
  }

  .zDealers {
    position: fixed;
    top: 170px;
    left: 192px;
    z-index: 1;
  }
  
  .zDealers img {
    width: 30px;
  }
  
  .emDealers {
    position: fixed;
    top: 240px;
    left: 192px;
    z-index: 1;
  }
  
  .emDealers img {
    width: 30px;
  }

  .lugBaDe {
    display: flex;
    position: absolute;
    top: 17%;
    left: 36.5%;
  }
  
  .lugBaDe img {
    width: 35px;
  }
  
  .lugBaDe h5 {
    font-family: "Spartan ExtraLight";
    font-size: 15px;
    color: #FFFFFF;
    margin-top: 13%;
    margin-left: -3%;
  }
  
  .lugMeDe {
    display: flex;
    position: absolute;
    top: 36%;
    left: 32%;
  }
  
  .lugMeDe img {
    width: 35px;
  }
  
  .lugMeDe h5 {
    font-family: "Spartan ExtraLight";
    font-size: 15px;
    color: #FFFFFF;
    margin-top: 14%;
    margin-left: -4%;
  }
  
  .lugBoDe {
    display: flex;
    position: absolute;
    top: 44%;
    left: 47%;
  }
  
  .lugBoDe img {
    width: 35px;
  }
  
  .lugBoDe h5 {
    font-family: "Spartan ExtraLight";
    font-size: 15px;
    color: #FFFFFF;
    margin-top: 17%;
    margin-left: -3%;
  }
  
  .LugIbDe {
    display: flex;
    position: absolute;
    top: 49%;
    left: 38%;
  }
  
  .LugIbDe img {
    width: 35px;
  }
  
  .LugIbDe h5 {
    font-family: "Spartan ExtraLight";
    font-size: 15px;
    color: #FFFFFF;
    margin-top: 12%;
    margin-left: -4%;
  }
  
  .LugViDe {
    display: flex;
    position: absolute;
    top: 52.5%;
    left: 50%;
  }
  
  .LugViDe img {
    width: 35px;
  }
  
  .LugViDe h5 {
    font-family: "Spartan ExtraLight";
    font-size: 15px;
    color: #FFFFFF;
    margin-top: 12%;
    margin-left: -4%;
  }
  
  .LugCaDe {
    display: flex;
    position: absolute;
    top: 56%;
    left: 35%;
  }
  
  .LugCaDe img {
    width: 35px;
  }
  
  .LugCaDe h5 {
    font-family: "Spartan ExtraLight";
    font-size: 15px;
    color: #FFFFFF;
    margin-top: 12%;
    margin-left: -4%;
  }

  .wetext {
    position: absolute;
    top: 170px;
    margin-left: 155px;
    z-index: -10;
  }
  
  .wetext h4 {
    font-family: "Spartan Thin";
    color: #FFFFFF;
    font-size: 50px;
  }

  .lineWe {
    position: absolute;
    border-bottom: 2.5px solid #FFFFFF;
    width: 900px;
    top: 200px;
    margin-left: 430px;
  }
  
  .cuadriculaWe {
    position: absolute;
    top: 250px;
    left: -15px;
    z-index: -10;
  }
  
  .cuadriculaWe img {
    width: 530px;
  }
  
  .honorWe {
    position: absolute;
    top: 275px;
    left: 155px;
    z-index: -10;
  }
  
  .honorWe p {
    font-family: "Spartan ExtraLight";
    color: #FFFFFF;
    line-height: 25px;
  }

  .logEdisonWe {
    position: absolute;
    top: 520px;
    right: 130px;
    transform: translateY(-50%);
    z-index: -10;
  }
  
  .logEdisonWe img {
    width: 450px;
  }
  
  .marcoWe {
    position: absolute;
    top: 800px;
    left: 150px;
    z-index: -10;
  }
  
  .marcoWe img {
    width: 1150px
  }
  
  .videoWe {
    position: absolute;
    top: -82px;
    z-index: 1;
  }
  
  .videoWe img {
    width: 520px;
  }
  
  .wetextOne {
    position: absolute;
    top: 30px;
    margin-left: 520px;
    z-index: -1;
  }
  
  .wetextOne h2 {
    font-family: "Spartan Thin";
    color: #FFFFFF;
  }
  
  .wetextOne p {
    font-family: "Spartan ExtraLight";
    color: #FFFFFF;
    font-size: 17px;
    line-height: 25px;
    margin-top: 15px;
  }
  

  .threeWe {
    display: flex;
    position: absolute;
    top: 1200px;
    left: 160px;
  }
  
  .threeWe img {
    width: 300px;
  }
  
  .threeWe p {
    font-family: "Spartan Regular";
    color: #ffffff;
    font-size: 20px;
    margin-top: 65px;
  }
  
  .fourWe {
    display: flex;
    position: absolute;
    top: 1280px;
    right: 80px;
    transform: translateY(-50%);
    /* left: 60%; */
  }
  
  .fourWe img {
    width: 300px;
  }
  
  .fourWe p {
    font-family: "Spartan Regular";
    color: #ffffff;
    font-size: 20px;
    margin-top: 100px;
  }
  
  .iconWe {
    display: flex;
    position: absolute;
    top: 1300px;
    margin-left: 300px;
  }
  
  .iconWe img {
    width: 100px;
    height: 100px;
    margin-top: 80px;
  }
  
  .iconWe p {
    width: 1000px;
    font-family: "Spartan Regular";
    color: #ffffff;
    font-size: 20.5px;
    margin-top: 115px;
    margin-left: 15px;
  }
  
  .bgCircleWe {
    position: absolute;
    top: 1400px;
    right: -140px;
    transform: translateY(-50%);
    z-index: -1;
  }
  
  .bgCircleWe img {
    width: 430px;
  }
  
  .helmyWe {
    position: absolute;
    top: 1560px;
    margin-left: 45px;
    z-index: -1;
  }
  
  .helmyWe img {
    width: 1400px;
  }
  
  .helmyWe p {
    font-family: "Spartan Medium";
    color: #0090ff;
    font-size: 30px;
    margin-top: -110px;
    margin-left: -30px;
    text-align: center;
  }
  
  .btnWe {
    position: absolute;
    top: 1940px;
    left: 650px;
  }
  
  .btnWe a {
    font-family: "Spartan Thin";
    outline: none;
    border-radius: 15px;
    text-decoration: none;
    border: 2px solid #0090ff;
    background-color: transparent !important;
    color: #FFFFFF !important;
    padding-top: 5%;
    padding-right: 5vh;
    padding-bottom: 5%;
    padding-left: 5vh;
    cursor: pointer;
  }


}