* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

@font-face {
  font-family: "Spartan Thin";
  src: url(fonts/Spartan-Variable.ttf) format('truetype'),
}

@font-face {
  font-family: "Spartan ExtraLight";
  src: url(fonts/static/Spartan-ExtraLight.ttf);
}

body {
  overflow: hidden;
}

.back-index img {
  width: 100%;
  height: 100vh;
}

.back-app img {
  width: 100%;
  height: 100vh;
}

.backn {
  width: 100%;
  height: 500vh;
  background-image: url("images/BackgroundProducts.png");
  background-attachment: fixed;
}

.backLogin img {
  width: 100%;
  height: 100vh;
}

.backWe {
  width: 100%;
  height: 305vh;
  background-image: url("images/BGLogin.png");
  background-attachment: fixed;
}

.nav {
  position: fixed;
  width: 100%;
  height: 5.3rem;
  top: 0;
  line-height: 5rem;
  display: flex;
  z-index: 2;
}

.cabeceraOscura {
  position: fixed;
  /* background-image:  url(images/BackgroundNav.png); */
  background-color: #1e1d1d;
  width: 100%;
  height: 5rem;
  top: 0;
  line-height: 5rem;
  display: flex;
  z-index: 1;
}

.right-ul {
  display: flex;
}

.right-ul li {
  list-style: none;
  margin-left: -1%;
}

.right-ul li:hover {
  border-bottom: 4px solid #0090ff;
}

.hov {
  border-right: 4px solid #0090ff;
  border-bottom: 4px solid #0090ff;
  border-left: 4px solid #0090ff;
}

.right-ul li a {
  font-family: "Spartan ExtraLight";
  font-size: 95%;
  outline: none;
  text-decoration: none;
  margin-left: 1.7rem;
  margin-right: 1.7rem;
  color: #FFFFFF;
}

.empty {
  margin: 0 auto;
}

.home-logo li {
  list-style: none;
}

.home img {
  display: inline-block;
  width: 75%;
  margin-top: 28%;
  margin-left: -50%;
}

.home-all li {
  list-style: none;
}

.homeAll img {
  display: inline-block;
  width: 75%;
  margin-top: 28%;
  margin-left: -50%;
}

.lineIndex {
  position: absolute;
  border-bottom: 1px solid rgba(112, 112, 112, 0.3);
  opacity: 100;
  width: 100%;
  height: 1vh;
  margin-top: 6%;
}

.naver {
  width: 6%;
  height: 100vh;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  display: flex;
  z-index: 10;
}

.naverLogin {
  width: 6%;
  height: 100vh;
  position: absolute;
  background-color: rgba(0, 0, 0);
  top: 0;
  /* display: flex; */
  z-index: 10;
}

.naverApp {
  width: 6%;
  height: 100vh;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  display: flex;
  z-index: 10;
}

.naverProducts {
  width: 6%;
  height: 100vh;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.9);
  top: 0;
  z-index: 10;
  margin-right: 95%;
}

.naverWe {
  width: 6%;
  height: 305vh;
  position: absolute;
  background-color: #000000;
  top: 0;
  display: flex;
  z-index: 10;
}

.menu {
  position: absolute;
  list-style: none;
  margin-left: 30%;
}

.menu li {
  line-height: 5rem;
}

.menu li img {
  width: 80%;
  cursor: pointer;
}

.items-social {
  position: absolute;
  bottom: 0;
  width: 10%;
  margin-left: 35%;
  margin-bottom: 28%;
}

.items-social a img {
  width: 250%;
  padding-top: 350%;
}

.descub {
  position: absolute;
  z-index: 1;
}

.descub a img {
  width: 60%;
  margin-top: 85%;
  margin-left: 14.8%;
  cursor: pointer;
}

.lineBorder {
  width: 100%;
  height: 10vh;
  margin-top: 570%;
  border-top: 10px solid #0090ff;
  border-bottom: 10px solid #0090ff;
  filter: blur(10px);
  z-index: -1;
}

.log-helmy {
  position: absolute;
}

.log-helmy img {
  width: 55%;
  margin-top: 57%;
  margin-left: 164%;
}

.sp {
  font-family: "Spartan Thin";
  display: block;
  color: #0090ff;
  margin-left: 215%;
  text-decoration: none;
  margin-top: 10%;
}

.en {
  font-family: "Spartan Thin";
  display: block;
  color: #FFFFFF;
  margin-left: 221%;
  text-decoration: none;
  margin-top: -3.4%;
}

.elMejor {
  position: absolute;
}

.elMejor img {
  width: 62%;
  margin-top: 22%;
  margin-left: 30%;
}

.lan {
  position: absolute;
}

.cuadricula {
  position: absolute;
}

.cuadricula img {
  width: 65%;
  height: 30%;
  margin-top: 118%;
  margin-left: 35%;
}

.cuadriculaTwo {
  position: absolute;
}

.cuadriculaTwo img {
  width: 65%;
  height: 30%;
  margin-top: 93%;
  margin-left: 25%;
}

.circulo {
  position: absolute;
}

.circulo img {
  width: 58%;
  height: auto;
  margin-top: 25%;
  margin-left: 142%;
}

.circuloLogin {
  position: absolute;
}

.circuloLogin img {
  width: 55%;
  height: auto;
  margin-top: 6%;
  margin-left: -13%;
}

.helmyApp {
  position: absolute;
}

.helmyApp img {
  width: 68%;
  height: auto;
  margin-top: 45%;
  margin-left: 85%;
}

.helmyTxt {
  position: absolute;
}

.helmyTxt img {
  width: 68%;
  height: auto;
  margin-top: 16%;
  margin-left: 21%;
}

.mockupOne {
  position: absolute;
  z-index: 1;
}

.mockupOne img {
  width: 60%;
  height: auto;
  margin-top: 50%;
  margin-left: 355%;
}

.mockupTwo {
  position: absolute;
  z-index: 1;
}

.mockupTwo img {
  width: 52%;
  height: auto;
  margin-top: 107%;
  margin-left: 82%;
}

.botonGoogle {
  position: absolute;
}

.botonGoogle img {
  width: 65%;
  height: auto;
  margin-top: 120%;
  margin-left: 335%;
}

.helmyConfig {
  position: absolute;
}

.helmyConfig img {
  width: 68%;
  height: auto;
  margin-top: 67%;
  margin-left: 60%;
}

.helmyHemos {
  position: absolute;
}

.helmyHemos img {
  width: 68%;
  height: auto;
  margin-top: 71%;
  margin-left: 57%;
}

/* .contePro {
  position: fixed;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  direction: rtl;
  margin-left: 9%;
  margin-top: 13%;
}

.contePro::-webkit-scrollbar {
  height: 1vh !important;
  width: 12px;
} */
/* 
.contePro::-webkit-scrollbar-thumb {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #0090ff;
} */

.hel {
  position: absolute;
}

.hel img {
  width: 98%;
  margin-top: 13%;
  margin-left: 4%;
}

.fityFour {
  position: absolute;
  z-index: 1;
}

.fityFour img {
  width: 65%;
  margin-top: 20%;
  margin-left: 19%;
}

.textProducts {
  position: absolute;
}

.textProducts h3 {
  font-family: "Spartan Thin";
  color: #FFFFFF;
  margin-top: 263%;
  margin-left: 100%;
}

.lineProducts {
  position: absolute;
  border-bottom: 2px solid rgba(255, 255, 255);
  width: 55%;
  margin-top: 43%;
  margin-left: 40%;
}

.enmascararOne {
  position: absolute;
}

.enmascararOne img {
  width: 55%;
  height: auto;
  margin-top: 30%;
  margin-left: 136%;
}

.enmascararTwo {
  position: absolute;
}

.enmascararTwo img {
  width: 57%;
  height: auto;
  margin-top: 40%;
  margin-left: 452%;
}

.app {
  position: absolute;
  margin-top: 13%;
  margin-left: 33%;
}

.textLogin {
  position: absolute;
  margin-top: -25%;
  margin-left: 2%;
}

.textLogin h4 {
  font-family: "Spartan Thin";
  color: #FFFFFF;
}

.form-group {
  margin-top: 10%;
}

.mail {
  position: absolute;
  margin-top: 4.5%;
  margin-left: 5%;
}

.mail img {
  width: 70%;
}

.key {
  position: absolute;
  margin-top: 38.5%;
  margin-left: 5%;
}

.key img {
  width: 58%;
}

.textbox {
  width: 220%;
  font-family: "Spartan Thin";
  color: #FFFFFF;
  background-color: transparent !important;
  margin-bottom: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
  border: 1px solid rgba(255, 255, 255, 0.6);
  text-indent: 12%;
  border-radius: 17px;
  outline: none;
}

.textbox:focus {
  border: 1px solid #0090ff;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
  -webkit-text-fill-color: #FFFFFF;
  transition: background-color 5000s ease-in-out 0s;
}

.passRe {
  width: 100%;
  position: absolute;
  margin-top: 5%;
  margin-left: 130%;
  z-index: 2;
}

.passRe a{
  font-family: "Spartan Thin";
  font-size: 80%;
  text-decoration: none;
  color: #FFFFFF;
}

.lineLogin {
  position: absolute;
  border-bottom: 2px solid rgba(112, 112, 112, 0.5);
  width: 75%;
  margin-top: 1%;
  margin-left: 16.5%;
}

.cp {
  position: absolute;
  margin-top: 27%;
  margin-left: 38%;
  margin-bottom: 0.5%;
}

.g-recaptcha {
  transform:scale(0.75);
}

.submitLogin {
  position: absolute;
  margin-top: 60%;
  margin-left: 48%;
}

.btnDes:disabled {
  font-family: "Spartan Thin";
  outline: none;
  width: 315%;
  border-radius: 10px;
  text-decoration: none;
  border: 1px solid #9F9F9F;
	background-color: transparent !important;
	color: #9F9F9F !important;
  padding-top: 20%;
  padding-bottom: 20%;
  cursor: default;
}


.btn_login{
  font-family: "Spartan Thin";
  outline: none;
  width: 315%;
  border-radius: 10px;
  text-decoration: none;
  border: 1px solid #0090ff;
	background-color: transparent !important;
	color: #FFFFFF !important;
  padding-top: 20%;
  padding-bottom: 20%;
  cursor: pointer;
}

.lineSubmit {
  position: absolute;
  border-bottom: 2px solid rgba(112, 112, 112, 0.5);
  width: 625%;
  margin-top: 30%;
  margin-left: -135%;
}

.textLoginRedes {
  position: absolute;
  width: 100%;
  margin-top: 108%;
  margin-left: 70%;
}

.textLoginRedes h4 {
  font-family: "Spartan Thin";
  color: #FFFFFF;
}

.textGoogle {
  margin-left: -10%;
  margin-top: 10%;
}

.itemsLogin {
  position: absolute;
  width: 10%;
  margin-top: 105%;
  margin-left: 48%;
}

.itemsLogin a img{
  width: 140%;
  margin-bottom: 20%;
}

.wetext { 
  position: absolute;
  margin-top: 11%;
  margin-left: 12%;
}

.wetext h4 {
  font-family: "Spartan Thin";
  color: #FFFFFF;
  font-size: 150%;
}

.lineWe {
  position: absolute;
  border-bottom: 2.5px solid #FFFFFF;
  width: 65%;
  margin-top: 12%;
  margin-left: 28%;
}

.cuadriculaWe {
  position: absolute;
  margin-top: 15%;
  margin-left: -4.5%;
  z-index: -1;
}

.cuadriculaWe img {
  width: 60%;
}

.honorWe {
  position: absolute;
  margin-top: 17%;
  margin-left: 12%;
}

.honorWe img {
  width: 58.7%;
}

.logEdisonWe {
  position: absolute;
  margin-top: 25%;
  margin-left: 60%;
}

.logEdisonWe img {
  width: 80%;
}

.marcoWe {
  position: absolute;
  margin-top: 50%;
  margin-left: 12%;
}

.marcoWe img{
  width: 92%;
}

.videoWe {
  position: absolute;
  margin-top: 42%;
  margin-left: 12%;
}

.videoWe img {
  width: 65%;
}

.wetextOne {
  position: absolute;
  margin-top: 53%;
  margin-left: 52%;
}

.wetextOne h2 {
  font-family: "Spartan Thin";
  color: #FFFFFF;
}

.wetextOne img{
  width: 80%;
  margin-top: 3%;
}

.threeWe {
 position: absolute;
 margin-top: 80%;
 margin-left: 13%;
}

.threeWe img {
  width: 60%;
}

.threekWe {
  position: absolute;
  margin-top: 83%;
  margin-left: 33%;
}

.threekWe img{
  width: 70%;
}

.fourWe {
  position: absolute;
  margin-top: 80%;
  margin-left: 60%;
}

.fourWe img {
  width: 60%;
}

.fourkWe {
  position: absolute;
  margin-top: 85%;
  margin-left: 78%;
}

.fourkWe img {
  width: 75%;
}

.iconWe {
  position: absolute;
  margin-top: 93%;
  margin-left: 19%;
}

.iconWe img {
  width: 60%;
}

.textOneWe {
  position: absolute;
  margin-top: 95.5%;
  margin-left: 30%;
}

.textOneWe img {
  width: 80%;
}

.bgCircleWe {
  position: absolute;
  margin-top: 80%;
  z-index: -1;
}

.bgCircleWe img {
  width: 67%;
  margin-left: 147%;
  filter: blur(1.8px);
}

.helmyWe {
  position: absolute;
  margin-top: 112%;
  margin-left: 3%;
  z-index: -1;
}

.helmyWe img {
  width: 102%;
}

.textTwoWe {
  position: absolute;
}

.textTwoWe img {
  width: 60%;
  margin-top: 187%;
  margin-left: 45%;
}

.btnWe {
  position: absolute;
  margin-top: 138%;
  margin-left: 42%;
}

.btnWe a {
  font-family: "Spartan Thin";
  outline: none;
  border-radius: 15px;
  text-decoration: none;
  border: 2px solid #0090ff;
	background-color: transparent !important;
	color: #FFFFFF !important;
  padding-top: 5%;
  padding-right: 5vh;
  padding-bottom: 5%;
  padding-left: 5vh;
  cursor: pointer;
}

.funcionPro {
  position: absolute;
  margin-top: 50%;
  margin-left: 15%;
}

.funcionPro img{
  width: 90%;
}

.lineTwoProducts {
  position: absolute;
  border-bottom: 2px solid rgba(255, 255, 255);
  width: 30%;
  margin-top: 85%;
  margin-left: 14%;
}

.textOneProducts {
  position: absolute;
  margin-top: 84.7%;
  margin-left: 46%;
}
.textOneProducts h3 {
  font-size: 22px;
  font-family: "Spartan Thin";
  color: #FFFFFF;
}

.scrollPro {
  position: absolute;
  height: 20%;
  z-index: 10;
  overflow-y: scroll;
  direction: rtl;
  margin-left: 20%;
}